<template>
  <AppLayout title="Jeux">
    <Head title="Créer un jeu" />
    <Container>
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/manage/jeux">Jeux</Link>
      <span class="text-indigo-400 font-medium">/</span> Créer
    </h1>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="store">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <TextInput v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" label="Nom" />
        </div>
        <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
          <LoadingButton :loading="form.processing" class="btn-indigo" type="submit">Créer un jeu</LoadingButton>
        </div>
      </form>
    </div>
    </Container>
  </AppLayout>
</template>

<script setup>
import { Head, Link, useForm } from '@inertiajs/vue3'
import TextInput from '@/Components/Forms/TextInput.vue'
import LoadingButton from '@/Components/Elements/Buttons/LoadingButton.vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'

const form = useForm({
  name: null
})

const store = () => {
  form.post(route('manage.jeux'))
}
</script>
