<script setup>
import { Head, Link, useForm } from '@inertiajs/vue3'
import TextInput from '@/Components/Forms/TextInput.vue'
import LoadingButton from '@/Components/Elements/Buttons/LoadingButton.vue'
// import TrashedMessage from '@/Components/Elements/TrashedMessage.vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'

const props = defineProps({
  game: Object,
  suggestions: Array,
})

const form = useForm({
  name: null,
})

form.defaults({
  name: props.game.name,
})
form.reset();

const attach = (suggestion) => {
  form.post(`/manage/jeux/${props.game.id}/attach/${suggestion.id}`)
}

const detach = (suggestion) => {
  form.post(`/manage/jeux/${props.game.id}/detach/${suggestion.id}`)
}

const update = () => {
  form.put(`/manage/jeux/${props.game.id}`, form)
}

const destroy = () => {
  if (confirm('Voulez-vous vraiment supprimer ce jeu ?')) {
    form.delete(`/manage/jeux/${props.game.id}`)
  }
}

const restore = () => {
  if (confirm('Voulez-vous vraiment restaurer ce jeu ?')) {
    form.put(`/manage/games/${props.game.id}/restore`)
  }
}
</script>

<template>
  <AppLayout title="Jeux">
    <Head :title="form.name" />
    <Container>
      <h1 class="mb-8 text-3xl font-bold">
        <Link class="text-indigo-400 hover:text-indigo-600" href="/manage/jeux">Jeux</Link>
        <span class="text-indigo-400 font-medium">/</span>
        {{ form.name }}
      </h1>
      <div class="grid grid-cols-12">
        <div class="col-span-12 lg:col-span-8">
          <!--trashed-message v-if="game.deleted_at" class="mb-6" @restore="restore"> Ce tag a été supprimé. </trashed-message-->
          <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
            <form @submit.prevent="update">
              <div class="flex flex-wrap -mb-8 -mr-6 p-8">
                <text-input v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" label="Nom" />
              </div>
              <div class="flex items-center px-8 py-4 bg-gray-50 border-t border-gray-100">
                <button class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Effacer</button>
                <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Mettre à jour</loading-button>
              </div>
            </form>
          </div>
          <br>
          <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden pb-4" v-if="game.suggestions != null && game.suggestions.length > 0">
            <div class="-mb-8 -mr-6 p-8">
              <h3 class="font-bold mb-4">Suggestions rattachées</h3>
              <div class="flex flex-col justify-start items-start space-y-2">
                <div v-for="att_sug in game.suggestions" :key="`${att_sug.uuid}`">
                  {{ att_sug.title }} <button @click="detach(att_sug)" class="text-red-400 hover:text-red-600">Supprimer</button>
                </div>
              </div>
            </div>            
          </div>
        </div>
        <div class="col-span-12 lg:col-span-4 p-4">
            <div v-if="suggestions.length > 0">
              <h3>Suggestions possibles</h3>
              <div class="flex flex-col justify-start items-start space-y-2">
                <div v-for="suggestion in suggestions" :key="`${suggestion.uuid}`">
                  {{ suggestion.title }} <button @click="attach(suggestion)" class="text-indigo-400 hover:text-indigo-600">Ajouter</button>
                </div>
              </div>
            </div>
            <p v-else class="">Pas de nouvelles suggestions évidentes à rattacher.<br><Link href="/dashboard" class="text-primary">Essayer la liste complète</Link></p>
          </div>
      </div>
    </Container>
  </AppLayout>
</template>
