<script setup>
import { Head, Link } from '@inertiajs/vue3'
import Icon from '@/Components/Graphics/Icon.vue'
import SearchFilter from '@/Components/Elements/SearchFilter.vue'
import Pagination from '@/Components/Elements/Pagination.vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import PrimaryButton from '@/Components/Elements/Buttons/PrimaryButton.vue'

const props = defineProps({
  games: {
    type: Object,
    required: true,
  },
  filters: {
    type: Object,
    required: true,
  },
})

const form = {
  search: props.filters.search,
  trashed: props.filters.trashed,
}

const reset = () => {
  Object.keys(form).forEach(key => {
    form[key] = null
  })
}

</script>

<template>
  <AppLayout title="Jeux">
    <Head title="Jeux" />
    <Container>
    <h1 class="mb-8 text-3xl font-bold">Jeux</h1>
    <div class="flex items-center justify-between mb-6">
      <search-filter v-model="form.search" class="mr-4 w-full max-w-md" @reset="reset">
        <label class="block text-gray-700">Trashed:</label>
        <select v-model="form.trashed" class="form-select mt-1 w-full">
          <option :value="null" />
          <option value="with">With Trashed</option>
          <option value="only">Only Trashed</option>
        </select>
      </search-filter>
      <Link class="btn-indigo" href="/manage/jeux/create">
        <PrimaryButton>
          <span>Créer</span>
          <span class="hidden md:inline">&nbsp;un Jeu</span>
        </PrimaryButton>
      </Link>
    </div>
    <div class="bg-white rounded-md shadow overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tr class="text-left font-bold">
          <th class="pb-4 pt-6 px-6">Nom</th>
          <th class="pb-4 pt-6 px-6" colspan="2">Nb Sugg.</th>
        </tr>
        <tr v-for="game in games.data" :key="game.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
          <td class="border-t">
            <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/manage/jeux/${game.id}/edit`">
              {{ game.name }}
              <icon v-if="game.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" />
            </Link>
          </td>
          <td class="border-t">
            <Link class="flex items-center px-6 py-4" v-if="game.suggestions" :href="`/jeux/${game.id}/edit`" tabindex="-1">
              {{ game.suggestions.length }}
            </Link>
          </td>
          <td class="w-px border-t">
            <Link class="flex items-center px-4" :href="`/manage/jeux/${game.id}/edit`" tabindex="-1">
              <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
            </Link>
          </td>
        </tr>
        <tr v-if="games.length === 0">
          <td class="px-6 py-4 border-t" colspan="4">Pas de jeu trouvé.</td>
        </tr>
      </table>
    </div>
    <pagination class="mt-6" :links="games.links" />
  </Container>
  </AppLayout>
</template>

