<template>
  <AppLayout title="Genres">
    <Head :title="form.name" />
    <Container>
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/manage/genres">Genres</Link>
      <span class="text-indigo-400 font-medium">/</span>
      {{ form.name }}
    </h1>
    <trashed-message v-if="genre.deleted_at" class="mb-6" @restore="restore"> Ce genre a été supprimé. </trashed-message>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="update">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <text-input v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" label="Nom" />
        </div>
        <div class="flex items-center px-8 py-4 bg-gray-50 border-t border-gray-100">
          <button v-if="!genre.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Effacer</button>
          <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Mettre à jour</loading-button>
        </div>
      </form>
    </div>
  </Container>
  </AppLayout>
</template>
<script setup>
import { ref } from 'vue'
import { useForm, Head, Link} from "@inertiajs/vue3";
import TextInput from '@/Components/Forms/TextInput.vue'
import LoadingButton from '@/Components/Elements/Buttons/LoadingButton.vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'

const props = defineProps({
  genre: Object
})

const form = useForm({
  name: null,
})

form.defaults({
  name: props.genre.name,
})
form.reset();

const update = () => {
  form.put(`/manage/genres/${props.genre.id}`, form)
}

const destroy = () => {
  if (confirm('Voulez-vous vraiment supprimer ce genre ?')) {
    form.delete(`/manage/genres/${genre.id}`)
  }
}

const restore = () => {
  if (confirm('Voulez-vous vraiment restaurer ce genre ?')) {
    form.put(`/manage/genres/${genre.value.id}/restore`)
  }
}
</script>