<template>
  <AppLayout title="Genres">
    <Head title="Genres" />
    <Container>
    <h1 class="mb-8 text-3xl font-bold">Genres</h1>
    <div class="flex items-center justify-between mb-6">
      <search-filter v-model="form.search" class="mr-4 w-full max-w-md" @reset="reset">
        <label class="block text-gray-700">Trashed:</label>
        <select v-model="form.trashed" class="form-select mt-1 w-full">
          <option :value="null" />
          <option value="with">With Trashed</option>
          <option value="only">Only Trashed</option>
        </select>
      </search-filter>
      <Link class="btn-indigo" href="/manage/genres/create">
        <SecondaryButton>
          <span>Créer </span>
          <span class="hidden md:inline">&nbsp;un Genre</span>
        </SecondaryButton>
      </Link>
    </div>
    <div class="bg-white rounded-md shadow overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tr class="text-left font-bold">
          <th class="pb-4 pt-6 px-6">Nom</th>
          <th class="pb-4 pt-6 px-6" colspan="2">Nb Sugg.</th>
        </tr>
        <tr v-for="genre in genres.data" :key="genre.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
          <td class="border-t">
            <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/genres/${genre.id}/edit`">
              {{ genre.name }}
              <icon v-if="genre.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" />
            </Link>
          </td>
          <td class="border-t">
            <Link class="flex items-center px-6 py-4" v-if="genre.suggestions" :href="`/manage/genres/${genre.id}/edit`" tabindex="-1">
              {{ genre.suggestions.length }}
            </Link>
          </td>
          <td class="w-px border-t">
            <Link class="flex items-center px-4" :href="`/manage/genres/${genre.id}/edit`" tabindex="-1">
              <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
            </Link>
          </td>
        </tr>
        <tr v-if="genres.length === 0">
          <td class="px-6 py-4 border-t" colspan="4">No genres found.</td>
        </tr>
      </table>
    </div>
    <pagination class="mt-6" :links="genres.links" />
  </Container>
  </AppLayout>
</template>


<script setup>
import { Head, Link, useForm } from '@inertiajs/vue3'
import Icon from '@/Components/Graphics/Icon.vue'
import SearchFilter from '@/Components/Elements/SearchFilter.vue'
import Pagination from '@/Components/Elements/Pagination.vue'
import mapValues from 'lodash/mapValues'
import AppLayout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import Checkbox from '@/Components/Forms/Checkbox.vue'
import SecondaryButton from '@/Components/Elements/Buttons/SecondaryButton.vue'
// import { ref, watch } from 'vue';

const props = defineProps({
  genres: Object,
  filters: Object,
})

const form = useForm({
  genre_ids: [],
  search: null,
  trashed: null
});

function addToGenreIds(event){
  let genreNewId = event.target.getAttribute('data-id');
  if(form.genre_ids.indexOf(genreNewId) != -1){
    form.genre_ids.splice(form.genre_ids.indexOf(genreNewId),1);
  } else {
    form.genre_ids.push(genreNewId);
  }
}

function selectAllCheckboxes(event){
  const checkboxes = document.getElementsByName('genre_ids[]');
  for (let i = 0; i < checkboxes.length; i++) {
    checkboxes[i].checked = event.target.checked;
    let dataId = checkboxes[i].getAttribute('data-id');
    if(form.genre_ids.indexOf(dataId) != -1){
      form.genre_ids.splice(form.genre_ids.indexOf(dataId),1);
    } else {
      form.genre_ids.push(dataId);
    }    
  }  
}

function massDelete() {
  if (form.genre_ids.length > 0){
    form.post(route('manage.genres.mass_delete'), {
        errorBag: 'massDeleteGenres',
        preserveScroll: true,
    });
  } else if (form.genre_ids.length == 0){
    alert("cochez des utilisateurs sur la gauche");
  }
}

const reset = () => {
  form.value = mapValues(form.value, () => null)
}
</script>