<template>
    <Link :href="`/jeux-de-roles-actual-plays/${jeu.slug}`" v-if="jeu">
        <h5 class="text-xs sm:text-sm md:text-base mb-2">{{ jeu.name }}</h5>
        <p class="flex my-1 gap-1 items-center">
            <strong class="text-xs">{{ jeu.suggestions.length }} actual plays </strong>
            <span  v-if="jeu.suggestions"> &middot; </span>
            <ul v-if="jeu" class="flex gap-2 justify-center text-xs">
                <li class="flex gap-1 items-center" v-if="total_views > 0"><span>{{ total_views }}</span><Icon name="view" class="h-3 w-3" title="vues" /></li>
                <li class="flex gap-1 items-center" v-if="total_likes > 0"><span>{{ total_likes }}</span><Icon name="like" class="h-3 w-3"  title="likes" /></li>
            </ul>
        </p>
        <!--icon v-if="jeu.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" /-->
    </Link>
</template>
<script setup>
import Icon from "@/Components/Graphics/Icon.vue";
import { computed } from "vue";
import { Link } from "@inertiajs/vue3";

const props = defineProps({
    jeu: Object
})

const total_views = computed(() => {
    return props.jeu.suggestions.reduce((acc, suggestion) => {
        return acc + suggestion.views;
    }, 0);
})

const total_likes = computed(() => {
    return props.jeu.suggestions.reduce((acc, suggestion) => {
        return acc + suggestion.likes;
    }, 0);
})

</script>
