<template>
    <Link :href="`/jeux-de-roles-actual-plays-series/${serie.slug}`">
        <div class="relative block">
            <img v-if="serie.imageUrl" :src="serie.imageUrl" :alt="`vignette pour ${serie.title}`" class="rounded-md mb-3 relative" />
            <img v-else-if="serie.suggestions != undefined && serie.suggestions[serie.suggestions.length-1].imageUrl" :src="serie.suggestions[0].imageUrl" :alt="`vignette pour ${serie.title}`" class="rounded-md mb-3 relative" />
            <div class="absolute h-full w-1/2 top-0 left-0 hover:bg-white/75 text-transparent hover:text-black rounded-l-sm p-4 text-sm" >
                <span v-if="serie.updated_at">Dernière mise à jour le {{  moment(serie.updated_at).format("DD-MM-YY") }}</span>
                <span v-if="serie.user"> par {{ serie.user.last_name }}</span>
            </div>

        </div>

        <h5 class="text-xs sm:text-sm md:text-base mb-2">{{ serie.name }}  <span v-if="serie.user && serie.user.id != 2">({{ serie.user.first_name }})</span></h5>
        <p class="flex my-1 gap-1 items-center">
            <strong class="text-xs"  v-if="serie.game">{{ serie.game.name }}</strong>
            <span  v-if="serie.game"> &middot; </span>
            <ul v-if="serie" class="flex gap-2 justify-center text-xs">
                <li class="flex gap-1 items-center" v-if="serie.total_views > 0"><span>{{ serie.total_views }}</span><Icon name="view" class="h-3 w-3" title="vues" /></li>
                <li class="flex gap-1 items-center" v-if="serie.total_likes > 0"><span>{{ serie.total_likes }}</span><Icon name="like" class="h-3 w-3"  title="likes" /></li>
            </ul>
        </p>
        <!--icon v-if="serie.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" /-->
    </Link>
</template>
<script setup>
import moment from "moment/moment.js";
import Icon from "@/Components/Graphics/Icon.vue";
import { Link } from "@inertiajs/vue3";

defineProps({
    serie: Object
})
</script>
