<template>
    <Link :href="`/jeux-de-roles-actual-plays-series/${serie.slug}`" v-if="serie">
        <div class="relative block">
            <img v-if="serie.imageUrl" :src="serie.imageUrl" :alt="`vignette pour ${serie.title}`" class="rounded-md mb-3 relative" />
            <img v-else :src="serie.suggestions[0].imageUrl" :alt="`vignette pour ${serie.title}`" class="rounded-md mb-3 relative" />
            <div class="absolute h-full w-1/2 top-0 left-0 hover:bg-white/75 text-transparent hover:text-black rounded-l-sm p-4 text-sm" >
                <span v-if="serie.updated_at">Dernière mise à jour le {{  moment(serie.updated_at).format("DD-MM-YY") }}</span>
                <span v-if="serie.user"> par {{ serie.user.last_name }}</span>
            </div>
        </div>
        <h5 class="text-xs sm:text-sm md:text-base mb-2">{{ serie.name }}</h5>
        <p class="flex my-1 gap-1 items-center">
            <strong class="text-xs">{{ serie.suggestions.length }} actual plays </strong>
            <span  v-if="serie.suggestions"> &middot; </span>
            <ul v-if="serie" class="flex gap-2 justify-center text-xs">
                <li class="flex gap-1 items-center" v-if="total_views > 0"><span>{{ total_views }}</span><Icon name="view" class="h-3 w-3" title="vues" /></li>
                <li class="flex gap-1 items-center" v-if="total_likes > 0"><span>{{ total_likes }}</span><Icon name="like" class="h-3 w-3"  title="likes" /></li>
            </ul>
        </p>
        <!--icon v-if="serie.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" /-->
    </Link>
</template>
<script setup>
import Icon from "@/Components/Graphics/Icon.vue";
import { Link } from "@inertiajs/vue3";
import { computed } from "vue";

const props = defineProps({
    serie: Object
})

const total_views = computed(() => {
    return props.serie.suggestions.reduce((acc, suggestion) => {
        return acc + suggestion.views;
    }, 0);
})

const total_likes = computed(() => {
    return props.serie.suggestions.reduce((acc, suggestion) => {
        return acc + suggestion.likes;
    }, 0);
})

</script>
