<template>
    <Link :href="`/actual-plays-streamers-createurs-de-contenu-video/${streamer.id}`" v-if="streamer">
        <div class="relative block">
            <img v-if="streamer.profile_photo_path" :src="streamer.profile_photo_path" :alt="`vignette pour ${streamer.last_name}`" class="rounded-md mb-3 relative" />
            <img v-else-if="streamer.profile_photo_url" :src="streamer.profile_photo_url" :alt="`vignette pour ${streamer.last_name}`" class="rounded-md mb-3 relative" />
        </div>
        <h5 class="text-xs sm:text-sm md:text-base mb-2">{{ streamer.last_name }}</h5>
        <p class="flex my-1 gap-1 items-center">
            <strong class="text-xs" v-if="streamer.suggestions">{{ streamer.suggestions.length }} actual plays </strong>
            <span  v-if="streamer.suggestions"> &middot; </span>
            <ul v-if="streamer" class="flex gap-2 justify-center text-xs">
                <li class="flex gap-1 items-center" v-if="total_views > 0"><span>{{ total_views }}</span><Icon name="view" class="h-3 w-3" title="vues" /></li>
                <li class="flex gap-1 items-center" v-if="total_likes > 0"><span>{{ total_likes }}</span><Icon name="like" class="h-3 w-3"  title="likes" /></li>
            </ul>
        </p>
        <!--icon v-if="streamer.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" /-->
    </Link>
</template>
<script setup>
import Icon from "@/Components/Graphics/Icon.vue";
import { Link } from "@inertiajs/vue3";
import { computed } from "vue";

const props = defineProps({
    streamer: Object
})

const total_views = computed(() => {
    return props.streamer.suggestions?.reduce((acc, suggestion) => {
        return acc + suggestion.views;
    }, 0);
})

const total_likes = computed(() => {
    return props.streamer.suggestions?.reduce((acc, suggestion) => {
        return acc + suggestion.likes;
    }, 0);
})

</script>
