<template>
    <a :href="suggestion.url" target="_blank">
     <div  class="relative block">
        <img v-if="suggestion.imageUrl" :src="suggestion.imageUrl" :alt="`vignette pour ${suggestion.title}`" class="rounded-md mb-3 relative" />
        <img v-else src="/images/enrole_default_video.png" :alt="`vignette pour ${suggestion.title}`" class="rounded-md mb-3 relative" />
        <div class="absolute h-full w-full top-0 left-0 hover:bg-white/75 text-transparent hover:text-black rounded-l-sm p-4 text-sm" >
            <p class="" v-if="suggestion.user">
                Proposé par {{ suggestion.user.last_name }}               
                <p v-if="suggestion.user.childs" v-for="(child, cid) in suggestion.user.childs" :key="`enfant-${child.id}`"
                class="inline-flex items-center text-xs font-medium">
                <span v-if="cid == 0">(</span>
                {{ child.last_name }}
                <span v-if="cid < (suggestion.user.childs.length-1)">, </span>
                <span v-if="cid == suggestion.user.childs.length-1">)</span>
            </p>

            </p>                
        </div>
    
    </div>       
    <h5 class="text-xs sm:text-sm md:text-base mb-2"><a :href="suggestion.url" target="_blank">{{ suggestion.title }}</a> <span v-if="suggestion.user && suggestion.user.id != 2">({{ suggestion.user.first_name }})</span></h5>
    <p class="flex my-1 gap-1 items-center">
        <strong class="text-xs"  v-if="suggestion.game">{{ suggestion.game.name }}</strong>
        <span  v-if="suggestion.game"> &middot; </span>
        <ul v-if="suggestion" class="flex gap-2 justify-center text-xs">
            <li class="flex gap-1 items-center" v-if="suggestion.views > 0"><span>{{ suggestion.views }}</span><Icon name="view" class="h-3 w-3" title="vues" /></li>
            <li v-else>données en cours d'acquisition</li>
            <li class="flex gap-1 items-center" v-if="suggestion.likes > 0"><span>{{ suggestion.likes }}</span><Icon name="like" class="h-3 w-3"  title="likes" /></li>
            <li class="flex gap-1 items-center" v-if="suggestion.comments > 0"><span>{{ suggestion.comments }}</span><Icon name="comment" class="h-3 w-3"  title="commentaires" /></li>
            <li class="flex gap-1 items-center" v-if="suggestion.favorites > 0"><span>{{ suggestion.favorites }}</span><Icon name="favorite" class="h-3 w-3"  title="favoris" /></li>
        </ul>
    </p>
    <p class="flex flex-wrap gap-1">
        <span v-for="genre in suggestion.genres" :key="genre.id" v-html="genre.name" class="inline-flex items-center rounded-full bg-purple-50 px-2 py-1 text-xs font-medium text-purple-700 ring-1 ring-inset ring-purple-700/10" />
        <TagList :tagsList="suggestion.active_tags" />
    </p>
    <!--icon v-if="suggestion.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" /-->
</a>
</template>
<script setup>
import moment from "moment/moment.js";
import Icon from "@/Components/Graphics/Icon.vue";
import TagList from "@/Components/Elements/TagList.vue";
// import { Link } from "@inertiajs/vue3";

defineProps({
    suggestion: Object
})
</script>
