<template>
  <AppLayout title="Articles">
  <Container>  
    <div id="main">
      <h1 class="mb-8 text-3xl font-bold">
        <Link class="text-indigo-400 hover:text-indigo-600" href="/manage/users">Utilisateurs</Link>
        <span class="text-indigo-400 font-medium">/</span> Créer
      </h1>
      <div class="bg-white rounded-md shadow overflow-hidden">
        <form @submit.prevent="store">
          <div class="grid grid-cols-2">
            <!--div class="flex flex-col gap-4 p-8">
              <ImageInput v-model="form.image" :error="form.errors.image" :post="props.post" :page="page" class="pb-8 pr-6 w-full lg:w-1/2" label="Image" @file-loaded="updateImage" />
            </div-->
            <div class="flex flex-col gap-4 p-8">
              <text-input v-model="form.first_name" :error="form.errors.first_name" class="pb-8 pr-6 w-full lg:w-1/2" label="Prénom" />
            </div>
            <div class="flex flex-col gap-4 p-8">
              <text-input v-model="form.last_name" :error="form.errors.last_name" class="pb-8 pr-6 w-full lg:w-1/2" label="Nom" />
            </div>
            <div class="flex flex-col gap-4 p-8">
              <text-input v-model="form.email" :error="form.errors.email" class="pb-8 pr-6 w-full lg:w-1/2" label="Email" />
            </div>
            <div class="flex flex-col gap-4 p-8">
              <label>Description</label>
              <textarea  v-model="form.description" :error="form.errors.description" class="pb-8 pr-6 w-full lg:w-1/2"></textarea>
            </div>
            <div class="p-8">
              <div class="flex gap-4">
                <label>Organisation ?</label>             
                <Checkbox v-model="form.organization" class="mb-8 mr-6" value="1" :checked="form.organization == 1" />
              </div>
              <p> (si oui, mettre dans le prénom l'acronyme, et dans le nom le blaze de la chaîne)</p>
            </div>
            <div class="flex flex-col gap-4 p-8" v-if="form.organization == 1">
                <text-input v-model="form.main_channel" :error="form.errors.main_channel" class="pb-8 pr-6 w-full lg:w-1/2" label="Chaîne par défaut" />
            </div>
            <div class="flex flex-col gap-4 p-8" v-else>
                <SelectInput v-model="form.parent_id" class="flex flex-col gap-4 items-start justify-center" label="Appartient à">
                  <option value="0">-- Pas d'équipe --</option>
                  <option v-for="(orga, oid) in organizations" :key="`organization-${oid}`" :value="orga.id" :selected="form.parent_id == orga.id">{{ orga.last_name }}</option>
                </SelectInput>
            </div>   
            <div class="flex flex-col gap-4 p-8">
                <SelectInput multiple v-model="form.team_ids" class="flex gap-4 items-center" label="Rôles">
                  <option v-for="(team, tid) in teams" :key="`team-${tid}`" :value="team.value" :selected="(form.team_ids != null) ? form.team_ids.includes(team.value) : false">{{ team.label }}</option>
                </SelectInput>
            </div> 
            <div class="flex flex-col gap-4 p-8">
                <SelectInput v-model="form.current_team_id" class="flex gap-4 items-center" label="Rôle par défaut">
                  <option v-for="(team, tid) in teams" :key="`team2-${tid}`" :value="team.value" :selected="form.current_team_id == team.value">{{ team.label }}</option>
                </SelectInput>
            </div>      
          </div>        
          <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
            <button class="btn-indigo" type="submit">Créer un contact</button>
          </div>
        </form>
      </div>
    </div>
  </Container>
  </AppLayout>
</template>

<script setup>
import {Head, Link, useForm} from '@inertiajs/vue3'
import TextInput from '@/Components/Forms/TextInput.vue'
import AppLayout from "@/Layouts/AppLayout.vue";
import SelectInput from "@/Components/Forms/SelectInput.vue";
import Checkbox from '@/Components/Forms/Checkbox.vue';
import { ref } from 'vue';
import Container from '@/Components/Sections/Container.vue';

const props = defineProps({
    'teams': Array,
    'organizations': Array,
})

const form = useForm({
    _method: 'POST',
    first_name: null,
    last_name: null,
    description: null,
    organization: null,
    email: null,
    main_channel: null,
    current_team_id: null,
    profilePhotoPath: null,
    team_ids: null
});

const store = () => {
  form.post(route('manage.users.store'), {
    errorBag: 'createUser',
    preserveScroll: true,
    // onSuccess: () => clearPhotoFileInput(),
  });
};

</script>
