<template>
  <AppLayout title="Modifier un utilisateur">
      <Container>
          <div id="main">
        <h1 class="mb-8 text-3xl font-bold">
          <Link class="text-indigo-400 hover:text-indigo-600" href="/manage/users">Utilisateurs</Link>
          <span class="text-indigo-400 font-medium">/</span> Modifier {{ form.last_name }}
        </h1>
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 lg:col-span-8">
            <div class="bg-white rounded-md shadow overflow-hidden">
              <form @submit.prevent="update">
                <div class="grid grid-cols-2">
                  <!--div class="flex flex-col gap-4 p-8">
                    <ImageInput v-model="form.image" :error="form.errors.image" :post="props.post" :page="page" class="pb-8 pr-6 w-full lg:w-1/2" label="Image" @file-loaded="updateImage" />
                  </div-->
                  <div class="flex flex-col gap-4 p-8">
                    <text-input v-model="form.first_name" :error="form.errors.first_name" class="pb-8 pr-6 w-full lg:w-1/2" label="Prénom" />
                  </div>
                  <div class="flex flex-col gap-4 p-8">
                    <text-input v-model="form.last_name" :error="form.errors.last_name" class="pb-8 pr-6 w-full lg:w-1/2" label="Nom" />
                  </div>
                  <div class="flex flex-col gap-4 p-8">
                    <text-input v-model="form.email" :error="form.errors.email" class="pb-8 pr-6 w-full lg:w-1/2" label="Email" />
                  </div>
                  <div class="flex flex-col gap-4 p-8">
                    <label>Description</label>
                    <textarea  v-model="form.description" :error="form.errors.description" class="pb-8 pr-6 w-full lg:w-1/2"></textarea>
                  </div>
                  <div class="p-8">
                    <div class="flex gap-4">
                      <label>Organisation ?</label>             
                      <Checkbox v-model="form.organization" class="mb-8 mr-6" value="1" :checked="form.organization == 1" />
                    </div>
                    <p> (si oui, mettre dans le prénom l'acronyme, et dans le nom le blaze de la chaîne)</p>
                  </div>
                  <div class="flex flex-col gap-4 p-8" v-if="form.organization == 1">
                      <text-input v-model="form.main_channel" :error="form.errors.main_channel" class="pb-8 pr-6 w-full lg:w-1/2" label="Chaîne par défaut" />
                  </div>
                  <div class="flex flex-col gap-4 p-8" v-else>
                      <SelectInput v-model="form.parent_id" class="flex flex-col gap-4 items-start justify-center" label="Appartient à">
                        <option value="0">-- Pas d'équipe --</option>
                        <option v-for="(orga, oid) in organizations" :key="`organization-${oid}`" :value="orga.id" :selected="form.parent_id == orga.id">{{ orga.last_name }}</option>
                      </SelectInput>
                  </div>    
                  <div class="flex flex-col gap-4 p-8">
                      <SelectInput multiple v-model="form.team_ids" class="flex gap-4 items-center" label="Rôles">
                        <option v-for="(team, tid) in teams" :key="`team-${tid}`" :value="team.value" :selected="form.team_ids.includes(team.value)">{{ team.label }}</option>
                      </SelectInput>
                  </div> 
                  <div class="flex flex-col gap-4 p-8">
                      <SelectInput v-model="form.current_team_id" class="flex gap-4 items-center" label="Rôle par défaut">
                        <option v-for="(team, tid) in teams" :key="`team2-${tid}`" :value="team.value" :selected="form.current_team_id == team.value">{{ team.label }}</option>
                      </SelectInput>
                  </div>   
                </div>        
                <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
                  <button class="btn-indigo" type="submit">Mettre à jour le contact</button>
                </div>
              </form>
            </div>
            <br>
          <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden pb-4" v-if="user.suggestions != null && user.suggestions.length > 0">
            <div class="-mb-8 -mr-6 p-8">
              <h3 class="font-bold mb-4">Suggestions rattachées</h3>
              <div class="flex flex-col justify-start items-start space-y-2">
                <div v-for="att_sug in user.suggestions" :key="`${att_sug.uuid}`">
                  {{ att_sug.title }} <button @click="detach(att_sug)" class="text-red-400 hover:text-red-600">Supprimer</button>
                </div>
              </div>
            </div>            
          </div>
        </div>
          <div class="col-span-12 lg:col-span-4">
            Utilisateur créé le {{ form.created_at }}
            Dernière mise à jour le {{ form.updated_at }}

            <div v-if="videoList.length > 0">
              <h3>Suggestions possibles</h3>
              <div class="flex flex-col justify-start items-start space-y-2">
                <div v-for="youtubeData in videoList" :key="`${youtubeData.id}`">
                  <Link :href="`https://www.youtube.com/watch?v=${youtubeData.id.videoId}`" target="_blank" class="text-primary">{{ youtubeData.snippet.title }}</Link> <button @click="createSuggestion(youtubeData)" class="text-indigo-400 hover:text-indigo-600">Ajouter</button>
                </div>
              </div>
            </div>
            <p v-else class="">Pas de nouvelles suggestions évidentes à rattacher.<br><Link href="/dashboard" class="text-primary">Essayer la liste complète</Link></p>
 
          </div>
        </div>
      </div>
    </Container>
    </AppLayout>
</template>

<script setup>
import { Link, useForm, usePage } from '@inertiajs/vue3'
import TextInput from '@/Components/Forms/TextInput.vue'
import AppLayout from "@/Layouts/AppLayout.vue";
import SelectInput from "@/Components/Forms/SelectInput.vue";
import Checkbox from '@/Components/Forms/Checkbox.vue';
// import ImageInput from '@/Components/Forms/ImageInput.vue';
import { ref } from 'vue';
import Container from '@/Components/Sections/Container.vue';
import { Inertia } from '@inertiajs/inertia';
import axios from 'axios';

const published_at = ref(new Date().toISOString().slice(0, 10));

const props = defineProps({
    'user': Object,
    'teams': Array,
    'videoList': Array,
    'organizations': Array
})

const page = usePage();

const form = useForm({
    _method: 'PUT',
    first_name: props.user.first_name,
    last_name: props.user.last_name,
    description: props.user.description,
    organization: props.user.organization,
    // password: props.user.password,
    email: props.user.email,
    current_team_id: props.user.current_team_id,
    profilePhotoPath: props.user.profilePhotoPath,
    team_ids: props.user.teams.map(team => team.id),
    parent_id: props.user.parent_id,
    main_channel: props.user.main_channel,
    created_at: props.user.created_at,
    updated_at: props.user.updated_at,

});

const updateImage = (image) => {

    const imageForm = useForm({
        image: image,
    });
    imageForm.post(route('post_image.create', { user: props.user.uuid }), {
    errorBag: 'updateUserPhotoProfile',
    preserveScroll: true
  });
};

const update = () => {
  form.post(route('manage.users.update', { user: props.user.id }), {
    errorBag: 'updateUser',
    preserveScroll: true
  });
};

const detach = (suggestion) => {
  form.post(route('manage.users.detach_suggestion', { user: props.user.id, suggestion: suggestion.id }), {
    errorBag: 'detachSuggestionToUser',
    preserveScroll: true
  });
};

const createSuggestion = (youtubeData) => {
  // note : use axios not to reload the page and see the errors
  axios.post(route('manage.users.create_suggestion', { user: props.user.id }), {
    preserveState: true,
    title: youtubeData.snippet.title,
    url: `https://www.youtube.com/watch?v=${youtubeData.id.videoId}`,
    validated_at: published_at.value,
    validated: true,
  });
};

</script>
