<script setup></script>
<template>
    <!--Header-Upper-->
    <div
        class="text-lg bg-gradient-to-br from-tertiary to-primary text-gray-50 header-upper"
    >
        <a name="ask-me-first"></a>
        <div class="max-w-5xl px-5 mx-auto lg:px-0">
            <div class="my-5 text-center">
                <h3 class="py-8 text-4xl text-white">
                    Je crée mon espace personnel
                </h3>
            </div>

            <div class="mt-6">
                <!-- Account creation Form -->
                <FormAccountCreation />
                <!--end form-->
            </div>
        </div>
    </div>
    <!--End Header Upper-->
</template>
