<script setup>
import { ref } from "vue";

const onePrice = "5,50";
const oneDuration = "heure";
const allPrice = "22,50";
const allDuration = "jour";

const oneFeatures = [
    "Signature d'un contrat de prestation de services",
    "50€ Frais d'inscription (gestion des clés incluse)",
    "50€ Dépôt de garantie (rendu à votre départ)",
    "Réservez des créneaux sur le site par tranche de 2h, demi-journée ou journée",
    "Votre facture est générée en fin de mois selon votre usage",
];
const allFeatures = [
    "Signature d'un bail professionnel pour 6 ans",
    "50€ Frais d'inscription (gestion des clés incluse)",
    "50€ Dépôt de garantie (rendu à votre départ)",
    "Un engagement sur un créneau hebdomadaire",
    "Les tarifs sont plus avantageux",
    "Pas besoin de réserver votre salle",
];

const panel = ref(null);
</script>
<template>
    <div class="my-12 auto-container">
        <div class="relative z-0">
            <div class="px-6 mx-auto max-w-7xl lg:px-8" v-if="panel == null">
                <div class="relative lg:grid lg:grid-cols-7">
                    <div
                        class="max-w-md mx-auto lg:col-start-1 lg:col-end-4 lg:row-start-2 lg:row-end-3 lg:mx-0 lg:max-w-none"
                    >
                        <div
                            class="flex flex-col h-full overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-l-lg"
                        >
                            <div class="flex flex-col flex-1 hover:bg-primary">
                                <div class="px-6 py-10">
                                    <div>
                                        <h3
                                            class="text-2xl font-medium text-center text-gray-900"
                                            id="tier-hobby"
                                        >
                                            Occasionnel
                                        </h3>
                                        <div
                                            class="flex items-center justify-center mt-4"
                                        >
                                            <span
                                                class="flex items-start px-3 text-6xl tracking-tight text-gray-900"
                                            >
                                                <span
                                                    class="mt-2 mr-2 text-4xl font-medium tracking-tight"
                                                >&euro;</span
                                                >
                                                <span class="font-bold">{{
                                                        onePrice
                                                    }}</span>
                                            </span>
                                            <span
                                                class="text-xl font-medium text-gray-500"
                                            >/{{ oneDuration }}</span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="flex flex-col justify-between flex-1 p-6 border-t-2 border-gray-100 hover:border-primary sm:p-10 lg:p-6 xl:p-10"
                                >
                                    <ul role="list" class="space-y-4">
                                        <li
                                            v-for="feature in oneFeatures"
                                            :key="feature"
                                            class="flex items-start"
                                        >
                                            {{ feature }}
                                        </li>
                                    </ul>
                                    <div class="mt-8">
                                        <div class="rounded-lg shadow-md">
                                            <a
                                                href="#"
                                                @click.prevent="
                                                    panel = 'forfait'
                                                "
                                                class="block w-full px-6 py-3 text-base font-medium text-center text-indigo-600 bg-white border border-transparent rounded-lg hover:bg-gray-50"
                                                aria-describedby="tier-hobby"
                                            >En savoir +</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="max-w-md mx-auto mt-10 lg:col-start-5 lg:col-end-8 lg:row-start-2 lg:row-end-3 lg:m-0 lg:max-w-none"
                    >
                        <div
                            class="flex flex-col h-full overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-r-lg hover:bg-primary"
                        >
                            <div class="flex flex-col flex-1">
                                <div class="px-6 py-10 bg-white">
                                    <div>
                                        <h3
                                            class="text-2xl font-medium text-center text-gray-900"
                                            id="tier-scale"
                                        >
                                            Installé
                                        </h3>
                                        <div
                                            class="flex items-center justify-center mt-4"
                                        >
                                            <span
                                                class="flex items-start px-3 text-6xl tracking-tight text-gray-900"
                                            >
                                                <span
                                                    class="mt-2 mr-2 text-4xl font-medium tracking-tight"
                                                >€</span
                                                >
                                                <span class="font-bold">{{
                                                        allPrice
                                                    }}</span>
                                            </span>
                                            <span
                                                class="text-xl font-medium text-gray-500"
                                            >/{{ allDuration }}</span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="flex flex-col justify-between flex-1 p-6 border-t-2 border-gray-100 bg-gray-50 sm:p-10 lg:p-6 xl:p-10"
                                >
                                    <ul role="list" class="space-y-4">
                                        <li
                                            v-for="feature in allFeatures"
                                            :key="feature"
                                            class="flex items-start"
                                        >
                                            {{ feature }}
                                        </li>
                                    </ul>
                                    <div class="mt-8">
                                        <div class="rounded-lg shadow-md">
                                            <a
                                                href="#"
                                                @click.prevent="panel = 'bail'"
                                                class="block w-full px-6 py-3 text-base font-medium text-center text-indigo-600 bg-white border border-transparent rounded-lg hover:bg-gray-50"
                                                aria-describedby="tier-scale"
                                            >En savoir +</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="px-6 mx-auto max-w-7xl lg:px-8"
                v-if="panel == 'forfait'"
            >
                <div class="relative lg:grid lg:grid-cols-7">
                    <div
                        class="max-w-md mx-auto lg:col-start-1 lg:col-end-4 lg:row-start-2 lg:row-end-3 lg:mx-0 lg:max-w-none"
                    >
                        <div
                            class="flex flex-col h-full overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-l-lg"
                        >
                            <div class="flex flex-col flex-1 hover:bg-primary">
                                <div class="px-6 py-10">
                                    <div>
                                        <h3
                                            class="text-2xl font-medium text-center text-gray-900"
                                            id="tier-hobby"
                                        >
                                            Occasionnel
                                        </h3>
                                        <div
                                            class="flex items-center justify-center mt-4"
                                        >
                                            <span
                                                class="flex items-start px-3 text-6xl tracking-tight text-gray-900"
                                            >
                                                <span
                                                    class="mt-2 mr-2 text-4xl font-medium tracking-tight"
                                                >&euro;</span
                                                >
                                                <span class="font-bold">{{
                                                        onePrice
                                                    }}</span>
                                            </span>
                                            <span
                                                class="text-xl font-medium text-gray-500"
                                            >/{{ oneDuration }}</span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="flex flex-col justify-between flex-1 p-6 border-t-2 border-gray-100 hover:border-primary sm:p-10 lg:p-6 xl:p-10"
                                >
                                    <ul role="list" class="space-y-4">
                                        <li
                                            v-for="feature in oneFeatures"
                                            :key="feature"
                                            class="flex items-start"
                                        >
                                            {{ feature }}
                                        </li>
                                    </ul>
                                    <div class="mt-8">
                                        <div class="rounded-lg shadow-md">
                                            <a
                                                href="#"
                                                @click.prevent="
                                                    panel = 'forfait'
                                                "
                                                class="block w-full px-6 py-3 text-base font-medium text-center text-indigo-600 bg-white border border-transparent rounded-lg hover:bg-gray-50"
                                                aria-describedby="tier-hobby"
                                            >Je m'inscris</a
                                            >
                                        </div>
                                        <a
                                            href="#"
                                            @click.prevent="panel = null"
                                            class="block w-full py-3 text-center hover:underline"
                                        >voir les offres
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="max-w-md mx-auto mt-10 lg:col-start-5 lg:col-end-8 lg:row-start-2 lg:row-end-3 lg:m-0 lg:max-w-none"
                    >
                        <div
                            class="flex flex-col h-full overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-r-lg hover:bg-primary"
                        >
                            <h4>Nous rejoindre</h4>
                            <p>
                                Avec la formule au forfait, vous pilotez avec le
                                site internet les moments où vous accédez aux
                                salles. Grâce aux serrures connectées, vous êtes
                                autonome pour entrer et sortir du cabinet.
                            </p>
                            <p>
                                Afin de signer un contrat de prestation de
                                services, nous vous demandons une caution de
                                50&euro;, et des frais d'inscription (50&euro;
                                également) qui couvrent la rédaction du contrat
                                et la mise en place des clés électroniques pour
                                votre accès au cabinet. Toutes les autres
                                charges sont incluses dans le prix.
                            </p>
                            <p class="text-sm">
                                Afin de pouvoir vous assurer, nous vous
                                demandons de contracter de votre côté une
                                assurance RC (responsabilité civile) Pro et une
                                assurance RC occupation des locataires.
                            </p>
                            <h4>Comment réserver ?</h4>
                            <p>
                                Votre espace pro sur ce site vous permet de
                                réserver depuis n'importe quel accès à internet
                                les créneaux qui vous arrangent. Les accès aux
                                salles seront ouverts en fonction de votre
                                réservation. La dé-réservation est possible,
                                mais doit être validée par notre équipe.
                            </p>
                            <h4>Services inclus</h4>
                            <p>
                                Une cuisine est mise à votre disposition pour
                                les repas, un accès à internet vous est offert.
                                Nous assurons toute la gestion comptable, que
                                vous pouvez suivre dans votre espace pro sur ce
                                site.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-6 mx-auto max-w-7xl lg:px-8" v-if="panel == 'bail'">
                <div class="relative lg:grid lg:grid-cols-7">
                    <div
                        class="max-w-md mx-auto lg:col-start-1 lg:col-end-4 lg:row-start-2 lg:row-end-3 lg:mx-0 lg:max-w-none"
                    >
                        <div
                            class="flex flex-col h-full overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-l-lg"
                        >
                            <div class="flex flex-col flex-1 hover:bg-primary">
                                <div class="px-6 py-10">
                                    <div>
                                        <h3
                                            class="text-2xl font-medium text-center text-gray-900"
                                            id="tier-hobby"
                                        >
                                            Installé
                                        </h3>
                                        <div
                                            class="flex items-center justify-center mt-4"
                                        >
                                            <span
                                                class="flex items-start px-3 text-6xl tracking-tight text-gray-900"
                                            >
                                                <span
                                                    class="mt-2 mr-2 text-4xl font-medium tracking-tight"
                                                >&euro;</span
                                                >
                                                <span class="font-bold">{{
                                                        allPrice
                                                    }}</span>
                                            </span>
                                            <span
                                                class="text-xl font-medium text-gray-500"
                                            >/{{ allDuration }}</span
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="flex flex-col justify-between flex-1 p-6 border-t-2 border-gray-100 hover:border-primary sm:p-10 lg:p-6 xl:p-10"
                                >
                                    <ul role="list" class="space-y-4">
                                        <li
                                            v-for="feature in allFeatures"
                                            :key="feature"
                                            class="flex items-start"
                                        >
                                            {{ feature }}
                                        </li>
                                    </ul>
                                    <div class="mt-8">
                                        <div class="rounded-lg shadow-md">
                                            <a
                                                href="#"
                                                @click.prevent="panel = 'bail'"
                                                class="block w-full px-6 py-3 text-base font-medium text-center text-indigo-600 bg-white border border-transparent rounded-lg hover:bg-gray-50"
                                                aria-describedby="tier-hobby"
                                            >Je m'inscris</a
                                            >
                                        </div>
                                        <a
                                            href="#"
                                            @click.prevent="panel = null"
                                            class="block w-full py-3 text-center hover:underline"
                                        >voir les offres
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="max-w-md mx-auto mt-10 lg:col-start-5 lg:col-end-8 lg:row-start-2 lg:row-end-3 lg:m-0 lg:max-w-none"
                    >
                        <div
                            class="flex flex-col h-full overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-r-lg hover:bg-primary"
                        >
                            <h4>Nous rejoindre</h4>
                            <p>
                                Avec la formule au bail, vous avez vos horaires
                                réservées automatiquement chaque semaine, à vous
                                la sénérité ! Grâce aux serrures connectées,
                                vous êtes autonome pour entrer et sortir du
                                cabinet.
                            </p>
                            <p>
                                Afin de signer un bail qui vous engagera pour 6
                                ans, nous vous demandons une caution de
                                50&euro;, et des frais d'inscription (50&euro;
                                également) qui couvrent la rédaction du contrat
                                et la mise en place des clés électroniques pour
                                votre accès au cabinet. 15&euro; de
                                participation aux charges viennent se rajouter.
                            </p>
                            <p class="text-sm">
                                Afin de pouvoir vous assurer, nous vous
                                demandons de contracter de votre côté une
                                assurance RC (responsabilité civile) Pro et une
                                assurance RC occupation des locataires.
                            </p>
                            <p>
                                La réservation au forfait via l'espace pro ne
                                vous est pas accessible, en revanche, vous avez
                                l'assurance que personne ne peut vous changer de
                                salle ou de créneau.
                            </p>
                            <h4>Services inclus</h4>
                            <p>
                                Une cuisine est mise à votre disposition pour
                                les repas, un accès à internet vous est offert.
                                Nous assurons toute la gestion comptable, que
                                vous pouvez suivre dans votre espace pro sur ce
                                site.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
