<template>
    <nav class="bg-indigo-900">
        <!-- Primary Navigation Menu -->
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex">
                    <!-- Logo -->
                    <div class="shrink-0 flex items-center">
                        <NavLink :href="route('home')" :active="route().current('home')">
                            <Icon class="block h-9 w-auto  fill-indigo-700 hover:fill-indigo-600 focus:fill-indigo-600"    />
                        </NavLink>
                    </div>

                    <!-- Navigation Links -->
                    <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                        <NavLink :href="route('home')" :active="route().current('home')">
                            Catalogue
                        </NavLink>
                        <NavLink :href="route('jeux')" :active="route().current('jeux')">
                            Jeux
                        </NavLink>
                        <NavLink :href="route('series')" :active="route().current('series')">
                            Séries
                        </NavLink>
                        <NavLink :href="route('streamers')" :active="route().current('streamers')">
                            Streamers
                        </NavLink>
                        <NavLink :href="route('genres')" :active="route().current('genres')">
                            Genres
                        </NavLink>
                        <NavLink :href="route('stats')" :active="route().current('stats')">
                            Stats
                        </NavLink>
                        <ExternalLink :href="route('partners')" :active="route().current('stats')">
                            Participer
                        </ExternalLink>
                    </div>
                </div>
                <div class="hidden sm:flex sm:items-center sm:ml-6">
                    <div class="ml-3 relative">
                        <!-- Teams Dropdown -->
                        <Dropdown v-if="$page.props.jetstream.hasTeamFeatures && $page.props.auth.user != null && $page.props.auth.user.current_team_id == 1" align="right" width="60">
                            <template #trigger>
                                <span class="inline-flex rounded-md">
                                    <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 dark:text-gray-400 bg-white dark:bg-gray-800 hover:text-gray-700 dark:hover:text-gray-300 focus:outline-none focus:bg-gray-50 dark:focus:bg-gray-700 active:bg-gray-50 dark:active:bg-gray-700 transition ease-in-out duration-150">
                                        {{ $page.props.auth.user.current_team.name }}

                                        <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                                        </svg>
                                    </button>
                                </span>
                            </template>

                            <template #content>
                                <div class="w-60">
                                    <!-- Team Management -->
                                    <div class="block px-4 py-2 text-xs text-gray-400">
                                        Gérer les équipes
                                    </div>

                                    <!-- Team Settings -->
                                    <DropdownLink :href="route('teams.show', $page.props.auth.user.current_team)">
                                        Configuration de l'équipe
                                    </DropdownLink>

                                    <!--DropdownLink v-if="$page.props.jetstream.canCreateTeams" :href="route('teams.create')">
                                        Create New Team
                                    </DropdownLink-->

                                    <!-- Team Switcher -->
                                    <template v-if="$page.props.auth.user.all_teams.length > 1">
                                        <div class="border-t border-gray-200 dark:border-gray-600" />

                                        <div class="block px-4 py-2 text-xs text-gray-400">
                                            Changer d'équipe
                                        </div>

                                        <template v-for="team in $page.props.auth.user.all_teams" :key="team.id">
                                            <form @submit.prevent="switchToTeam(team)">
                                                <DropdownLink as="button">
                                                    <div class="flex items-center">
                                                        <svg v-if="team.id == $page.props.auth.user.current_team_id" class="mr-2 h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                        </svg>

                                                        <div>{{ team.name }}</div>
                                                    </div>
                                                </DropdownLink>
                                            </form>
                                        </template>
                                    </template>
                                </div>
                            </template>
                        </Dropdown>
                    </div>
                    <div class="hidden sm:flex sm:items-center sm:ml-6">
                        <NavLink :href="route('search')" :active="route().current('search')">
                            <Icon class="w-5 h-5 fill-indigo-700 hover:fill-indigo-600 focus:fill-indigo-600" name="search"   />
                        </NavLink>
                    </div>

                    <!-- Settings Dropdown -->
                    <div class="ml-3 relative">
                        <Dropdown align="right" width="48"  v-if="$page.props.auth.user">
                            <template #trigger>
                                <button v-if="$page.props.jetstream.managesProfilePhotos" class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition">
                                    <img class="h-8 w-8 rounded-full object-cover" :src="$page.props.auth.user.profile_photo_url" :alt="$page.props.auth.user.name">
                                </button>

                                <span v-else class="inline-flex rounded-md">
                                            <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 dark:text-gray-400 bg-white dark:bg-gray-800 hover:text-gray-700 dark:hover:text-gray-300 focus:outline-none focus:bg-gray-50 dark:focus:bg-gray-700 active:bg-gray-50 dark:active:bg-gray-700 transition ease-in-out duration-150">
                                                {{ $page.props.auth.user.name }}

                                                <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                                                </svg>
                                            </button>
                                        </span>
                            </template>

                            <template #content>
                                <DropdownLink :href="route('dashboard')">
                                    Tableau de bord
                                </DropdownLink>

                                <!-- Account Management -->
                                <DropdownLink :href="route('profile.show')">
                                    Profil
                                </DropdownLink>

                                <DropdownLink v-if="$page.props.jetstream.hasApiFeatures" :href="route('api-tokens.index')">
                                    API Tokens
                                </DropdownLink>

                                <!-- Member Management -->
                                <div class="block px-4 py-2 text-xs text-gray-400">
                                    Soutiens
                                </div>

                                <DropdownLink :href="route('collection')"  :active="route().current('collection')">
                                    Mes collections
                                </DropdownLink>


                                <!-- Moderation Management -->
                                <div class="block px-4 py-2 text-xs text-gray-400">
                                    Modérateurs
                                </div>

                                <DropdownLink :href="route('management')">
                                    Gestion des contenus
                                </DropdownLink>

                                <DropdownLink :href="route('manage.users')">
                                    Validation des contacts
                                </DropdownLink>


                                <div class="border-t border-gray-200 dark:border-gray-600" />

                                <!-- Authentication -->
                                <form @submit.prevent="logout">
                                    <DropdownLink as="button">
                                        Se déconnecter
                                    </DropdownLink>
                                </form>
                            </template>
                        </Dropdown>
                        <NavLink :href="route('dashboard')" :active="route().current('dashboard')" v-else>
                            <Icon class="w-5 h-5 fill-indigo-700 hover:fill-indigo-600 focus:fill-indigo-600"
                                  name="user"
                            />
                        </NavLink>
                    </div>
                </div>

                <!-- Hamburger -->
                <div class="-mr-2 flex items-center sm:hidden">
                    <button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 dark:text-gray-500 hover:text-gray-500 dark:hover:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-900 focus:outline-none focus:bg-gray-100 dark:focus:bg-gray-900 focus:text-gray-500 dark:focus:text-gray-400 transition duration-150 ease-in-out" @click="showingNavigationDropdown = ! showingNavigationDropdown">
                        <svg
                            class="h-6 w-6"
                            stroke="currentColor"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                :class="{'hidden': showingNavigationDropdown, 'inline-flex': ! showingNavigationDropdown }"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"
                            />
                            <path
                                :class="{'hidden': ! showingNavigationDropdown, 'inline-flex': showingNavigationDropdown }"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"
                            />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Responsive Navigation Menu -->
        <div :class="{'block': showingNavigationDropdown, 'hidden': ! showingNavigationDropdown}" class="sm:hidden">
            <div class="pt-2 pb-3 space-y-1">
                <ResponsiveNavLink :href="route('home')" :active="route().current('home')">
                    Catalogue
                </ResponsiveNavLink>
                <ResponsiveNavLink :href="route('jeux')" :active="route().current('jeux')">
                    Jeux
                </ResponsiveNavLink>
                <ResponsiveNavLink :href="route('series')" :active="route().current('series')">
                    Séries
                </ResponsiveNavLink>
                <ResponsiveNavLink :href="route('streamers')" :active="route().current('streamers')">
                    Streamers
                </ResponsiveNavLink>
                <ResponsiveNavLink :href="route('genres')" :active="route().current('genres')">
                    Genres
                </ResponsiveNavLink>
                <ResponsiveNavLink :href="route('stats')" :active="route().current('stats')">
                    Stats
                </ResponsiveNavLink>
                <ResponsiveNavLink :href="route('dashboard')" :active="route().current('dashboard')">
                    Se connecter
                </ResponsiveNavLink>
            </div>

            <!-- Responsive Settings Options -->
            <div class="pt-4 pb-1 border-t border-gray-200 dark:border-gray-600"  v-if="$page.props.auth.user">
                <div class="flex items-center px-4">
                    <div v-if="$page.props.jetstream.managesProfilePhotos" class="shrink-0 mr-3">
                        <img class="h-10 w-10 rounded-full object-cover" :src="$page.props.auth.user.profile_photo_url" :alt="$page.props.auth.user.name">
                    </div>

                    <div>
                        <div class="font-medium text-base text-gray-800 dark:text-gray-200">
                            {{ $page.props.auth.user.name }}
                        </div>
                        <div class="font-medium text-sm text-gray-500">
                            {{ $page.props.auth.user.email }}
                        </div>
                    </div>
                </div>

                <div class="mt-3 space-y-1">
                    <ResponsiveNavLink :href="route('profile.show')" :active="route().current('profile.show')">
                        Profil
                    </ResponsiveNavLink>

                    <ResponsiveNavLink v-if="$page.props.jetstream.hasApiFeatures" :href="route('api-tokens.index')" :active="route().current('api-tokens.index')">
                        API Tokens
                    </ResponsiveNavLink>

                    <!-- Authentication -->
                    <form method="POST" @submit.prevent="logout">
                        <ResponsiveNavLink as="button">
                            Se déconnecter
                        </ResponsiveNavLink>
                    </form>

                    <!-- Team Management -->
                    <!--template v-if="$page.props.jetstream.hasTeamFeatures && $page.props.auth.user != null && $page.props.auth.user.current_team_id == 1">
                        <div class="border-t border-gray-200 dark:border-gray-600" />

                        <div class="block px-4 py-2 text-xs text-gray-400">
                            Gérer les équipes
                        </div>

                        < !-- Team Settings -- >
                        <ResponsiveNavLink :href="route('teams.show', $page.props.auth.user.current_team)" :active="route().current('teams.show')">
                            Configuration de l'équipe
                        </ResponsiveNavLink>

                        < !--ResponsiveNavLink v-if="$page.props.jetstream.canCreateTeams" :href="route('teams.create')" :active="route().current('teams.create')">
                            Créer une nouvelle équipe
                        </ResponsiveNavLink-- >

                        < !-- Team Switcher -- >
                        <template v-if="$page.props.auth.user.all_teams.length > 1">
                            <div class="border-t border-gray-200 dark:border-gray-600" />

                            <div class="block px-4 py-2 text-xs text-gray-400">
                                Changer d'équipe
                            </div>

                            <template v-for="team in $page.props.auth.user.all_teams" :key="team.id">
                                <form @submit.prevent="switchToTeam(team)">
                                    <ResponsiveNavLink as="button">
                                        <div class="flex items-center">
                                            <svg v-if="team.id == $page.props.auth.user.current_team_id" class="mr-2 h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                            </svg>
                                            <div>{{ team.name }}</div>
                                        </div>
                                    </ResponsiveNavLink>
                                </form>
                            </template>
                        </template>
                    </template-->
                </div>
            </div>
        </div>
    </nav>
</template>
<script setup>
import DropdownLink from "@/Components/Elements/Links/DropdownLink.vue";
import { router} from "@inertiajs/vue3";
import ResponsiveNavLink from "@/Components/Elements/Links/ResponsiveNavLink.vue";
// import ApplicationMark from "@/Components/Graphics/ApplicationMark.vue";
import Dropdown from "@/Components/Elements/Dropdown.vue";
import NavLink from "@/Components/Elements/Links/NavLink.vue";
import {ref} from "vue";
import Icon from "@/Components/Graphics/Icon.vue";
import ExternalLink from "@/Components/Elements/Links/ExternalLink.vue";

const showingNavigationDropdown = ref(false);

const switchToTeam = (team) => {
    router.put(route('current-team.update'), {
        team_id: team.id,
    }, {
        preserveState: false,
    });
};

const logout = () => {
    router.post(route('logout'));
};
</script>
