<script setup>
import privateData from "../../../content/prive.json";
import DropdownLink from "@/Components/Elements/Links/DropdownLink.vue";
import NavLink from "@/Components/Elements/Links/NavLink.vue";
import { Link } from "@inertiajs/vue3";

</script>
<template>
    <div class="grid grid-cols-12 align-top justify-between">
        <div class="col-span-3 p-4 bg-white">
            <!-- Dashboard links -->
            <ul>
                <li class="border-b border-gray-200 py-3"  v-for="link in privateData.menu" :key="link.to">
                    <Link :href="route(link.to)" :active="route().current(link.to)" class="uppercase text-xl font-bold hover:text-deepblue" :class="{ 'text-deepblue': route().current(link.to) }">
                        {{ link.label }}
                    </Link>
                </li>
            </ul>
        </div>
        <div class="col-span-9 px-4 md:px-8 xl:px-16 pt-8 pb-16">
            <slot />
        </div>
    </div>
</template>
