<script setup>
import FormContact from '@/Components/Forms/Contact.vue'
import { Link } from '@inertiajs/vue3';

</script>
<template>
    <!--Header-Upper-->
    <div
        class="text-lg bg-gradient-to-br from-tertiary to-primary text-gray-50 header-upper"
    >
        <a name="ask-me-first"></a>
        <div class="max-w-5xl px-5 mx-auto lg:px-0">
            <div class="py-5 text-center">
                <h3 class="py-8 text-4xl text-white">Contactez-nous</h3>
            </div>

            <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-6">
                <div class="lg:col-span-3">
                    <!-- office Address -->
                    <div
                        class="md:flex md:flex-row lg:justify-start lg:flex-col lg:text-left md:justify-between"
                    >
                        <div class="mb-6">
                            <h6 class="mb-2">Horaires d'ouverture</h6>
                            <p class="text-sm">
                                Du lundi au vendredi de 9h à 12h et de 14h à
                                17h<br class="mb-2" />
                            </p>
                        </div>

                        <div class="mb-6">
                            <h6 class="mb-2">Coordonnées</h6>
                            <p class="text-sm">
                                <Link
                                    href="mailto:location@cabinet-partage.fr"
                                    class="flex items-center gap-1"
                                ><div
                                    name="envelope-alt"
                                    fill="white"
                                    width="1em"
                                    height="1em"
                                    viewBox="0 0 24 24"
                                ></div>
                                    <span
                                    >location@cabinet-partage.fr</span
                                    ></Link
                                >
                                <Link
                                    href="tel:+33638056100"
                                    class="flex items-center gap-1"
                                ><div
                                    name="mobile-vibrate"
                                    fill="white"
                                    width="1em"
                                    height="1em"
                                    viewBox="0 0 24 24"
                                ></div>
                                    <span>(33) 638 056 100</span></Link
                                ><br />
                                10, allée des rossignols<br />
                                74150 Rumilly<br />
                                France
                            </p>
                        </div>
                    </div>
                </div>

                <div class="lg:col-span-3">
                    <!-- Contact Form -->
                    <FormContact />
                    <!--end form-->
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->
</template>
