<script setup>

import ApplicationLogo from "@/Components/Graphics/ApplicationLogo.vue";
import LayoutData from "/resources/content/layout.json";
import { Link } from '@inertiajs/vue3';

</script>

<template>
    <footer>
        <div class="sm:px-8 bg-darkblue">
            <div class="mx-auto max-w-7xl lg:px-8">
                <div class="py-8">
                    <div class="relative px-4 sm:px-8 lg:px-12">
                        <div class="max-w-2xl mx-auto lg:max-w-5xl">
                            <div
                                class="grid items-start justify-between grid-cols-12 gap-6 font-thin sm:flex-row"
                            >
                                <div class="flex flex-col gap-2 col-span-12 md:col-span-6">
                                <h5 class="text-gray-400">{{ LayoutData.domain }}</h5>
                                <p
                                    class="col-span-3 text-base font-light text-white"
                                >{{ LayoutData.main_title }}
                                </p>
                                <p
                                    class="col-span-3 text-base font-light text-white"
                                >
                                    {{ LayoutData.main_description }}
                                </p>
                                </div>
                                <div class="flex flex-col gap-2 col-span-4">
                                    <Link
                                        :href="item.to"
                                        v-for="item in LayoutData.menu"
                                        class="text-white capitalize"
                                    >{{ item.label }}</Link
                                    >
                                </div>
                                <p
                                    class="flex flex-col justify-around col-span-12 md:col-span-2 gap-2"
                                >
                                    <Link
                                        href="/actual-plays-agenda"
                                        class="text-white"
                                    >Agenda</Link>
                                    <Link
                                        href="https://tnn-fx.itch.io/enrolefr"
                                        class="text-white"
                                    >DevBlog</Link>
                                    <Link
                                        href="/partenaires-actual-plays"
                                        class="text-white whitespace-nowrap"
                                    >Comment participer ?</Link>
                                    <Link
                                        href="/faq-actual-plays-enrolefr"
                                        class="text-white whitespace-nowrap"
                                    >FAQ</Link>
                                    <Link
                                        href="/contacter-enrolefr-communication"
                                        class="text-white whitespace-nowrap"
                                    >Nous contacter</Link>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-4 md:px-8 bg-dark">
            <div class="max-w-2xl mx-auto lg:max-w-5xl">
                <div
                    class="flex flex-col items-center justify-between gap-6 py-3 text-sm font-light text-white sm:flex-row"
                >
                    <p>
                        Copyright © 2023 <a href="https://www.scriptami.com/">Scriptami / FX Guillois</a>. Tous droits
                        réservés.
                    </p>
                    <p class="flex justify-around gap-6">
                        <Link href="/conditions-mentions-legales-actual-plays-enrolefr"
                        >Mentions légales</Link
                        >
                    </p>
                </div>
            </div>
        </div>
    </footer>
</template>

<style scoped>

</style>
