<template>
  <div class="overflow-hidden grid grid-cols-2 gap-2 md:gap-3 xl:gap-4 md:grid-cols-3 xl:grid-cols-4 mt-4">
    <div v-for="suggestion in suggestionData" :key="suggestion.id" class="hover:bg-gray-100 focus-within:bg-gray-100  max-w-[320px]">
      <SuggestionCard :suggestion="suggestion" />
    </div>
    <div v-if="suggestions.length === 0">
      <td class="px-6 py-4 border-t" colspan="4">Pas de nouvelles suggestions pour le moment.</td>
    </div>
  </div>
  <pagination class="mt-6" :links="suggestionLinks" v-if="suggestionLinks" />
</template>

<script setup>
import Pagination from '@/Components/Elements/Pagination.vue'
import { Link } from '@inertiajs/vue3'
import { ref, computed } from 'vue'
import SuggestionCard from '@/Components/Elements/Cards/SuggestionCard.vue'

const props = defineProps({
  auth: Object,
  suggestions: Object
})

const suggestionData = computed(() => {
  if (props.suggestions.data !== undefined)
    return props.suggestions.data
  else return props.suggestions
})

const suggestionLinks = computed(() => {
  if (props.suggestions.links !== undefined)
    return props.suggestions.links
  else return null
})
</script>

<style scoped>

</style>
