<template>
  <div>
    <h1 class="text-xl mb-2">Présentation</h1>
    <p class="text-sm italic mb-4">Comme je ne trouvais pas d'outil pour faire ce que je veux, à savoir suivre les
      journaux écrits et les actual plays pour les jdrs qui m'intéressent, j'ai commencé une petite app dans ce but.
      premier objectif : pouvoir suivre les AP/CR qui m'intéressent. deuxième objectif : offrir un outil pour ceux qui
      veulent faire leur promo jdr (comme la Vouivre en son temps), troisième objectif : pouvoir gérer ce qu'on a vu et
      ce qu'on veut voir. bonus : pousser les créateurs de contenus qui ne sont pas sur youtube/twitch 😉</p>
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/vue3'
import Layout from '@/Layouts/AppLayout.vue'
import Icon from '@/Components/Graphics/Icon.vue'
import Pagination from '@/Components/Elements/Pagination.vue'
import mapValues from 'lodash/mapValues'
import moment from 'moment'

export default {
  components: {
    Pagination,
    Link, Icon,
    Head,
  },
  layout: Layout,
  props: {
    suggestions: Object,
  },
  data() {
    return {
      moment: moment,
    }
  },
  methods: {
    reset() {
      this.form = mapValues(this.form, () => null)
    },
  },
}
</script>
