<template>
  <div>
    <h1 class="text-xl mb-2">A venir</h1>

    <p>Même cette page est à venir...</p>
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/vue3'
import Layout from '@/Layouts/AppLayout.vue'
import Icon from '@/Components/Graphics/Icon.vue'
import Pagination from '@/Components/Elements/Pagination.vue'
import mapValues from 'lodash/mapValues'

export default {
  components: {
    Pagination,
    Link, Icon,
    Head,
  },
  layout: Layout,
  props: {
    suggestions: Object,
  },
  data() {
    return {
    }
  },
  methods: {
    reset() {
      this.form = mapValues(this.form, () => null)
    },
  },
}
</script>
