<template>
  <Container>
    <div id="mySidepanel" class="sidepanel bg-indigo-800 text-white">
      <button href="javascript:void(0)" class="closebtn" @click="closeSidePanel()">×</button>
      <select-input v-model="selectedGame" class="pb-8 pr-6 w-full" label="Jeu" @change="gameChanger()">
        <option v-for="game in games.data" :key="game.id" :value="game.id">{{ game.name }}</option>
      </select-input>
      <select-input v-model="selectedSerie" class="pb-8 pr-6 w-full" label="Série" v-if="selectedGame != null && series !== null">
        <option v-for="(serie, sk) in series.data" :key="serie.id" :value="serie.id" :selected="sk === 0">{{ serie.name }}</option>
      </select-input>
      <div>
        <ul v-if="suggestionsResults !== null">
          <li v-for="(sugg, sgk) in suggestionsResults" :key="sgk">{{ sugg.title }}</li>
        </ul>
      </div>
    </div>

    <h1 class="text-xl mb-2">Votre collection</h1>
    <p class="flex justify-between items-center  h-12">
      <span>
        <span>Watchlist : </span>
        <button v-if="watchlist == null">Créer ma liste de visionnages</button>
        <select-input v-model="defaultWatchlist" v-else>
          <option v-for="(myw, mywid) in myWatchlists" :key="myw.id" :value="mywid">{{ myw }}</option>
        </select-input>
      </span>

      <span class="flex justify-end items-center gap-4">
          <button>Partager</button>
          <button  @click="openSidePanel()">Ajouter</button>
          <button @click="layout = (layout == 'grid') ? 'list' : 'grid'"><span v-if="layout == 'grid'">Grille</span><span v-else>Liste</span></button>
        </span>
    </p>
    <!--div v-if="add_panel_open" class="flex">
      <select-input v-model="game_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Jeu">
        <option :value="null" />
        <option v-for="game in games.data" :key="game.id" :value="game.id">{{ game.name }}</option>
      </select-input>
      <select-input v-model="serie_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Série">
        <option :value="null" />
        <option v-if="series" v-for="serie in series.data" :key="serie.id" :value="serie.id">{{ serie.name }}</option>
      </select-input>
    </div-->
    <SuggestionsCollection :suggestions="watchlist.suggestions" v-if="watchlist !== null" />
  </Container>
</template>

<script>
import {Head, Link } from '@inertiajs/vue3'
import axios from 'axios'
import Layout from '@/Layouts/AppLayout.vue'
import mapValues from 'lodash/mapValues'
import SelectInput from '@/Components/Forms/SelectInput.vue'
import SuggestionsCollection from '@/Components/Sections/SuggestionsCollection.vue'
import Container from '@/Components/Sections/Container.vue';

export default {
  components: {
    SuggestionsCollection,
    SelectInput,
    Container,
    Link,
    Head,
  },
  layout: Layout,
  props: {
    games: Object,
    suggestions: Object,
    watchlist: Object,
    myWatchlists: Array,
  },
  data() {
    return {
      add_panel_open: false,
      series: null,
      layout: "grid",
      defaultWatchlist: null,
      selectedGame: null,
      selectedSerie: null,
      suggestionsResults: null,
    }
  },
  created() {
      this.defaultWatchlist = (this.watchlist !== null) ? this.watchlist.id : null;
  },
    methods: {
    reset() {
      this.form = mapValues(this.form, () => null)
    },
    openSidePanel() {
      document.getElementById("mySidepanel").style.width = "250px";
    },
    closeSidePanel() {
      document.getElementById("mySidepanel").style.width = "0";
    },
    gameChanger(){
      axios.get('/api/series/') // by-game/${this.selectedGame}
        .then(response => (this.series = response.data))
      axios.get('/api/suggestions/') // by-game/${this.selectedGame}
        .then((response) => {
          this.suggestionsResults = response.data.data
          console.log(response.data.data)
          return response.data
        })
    }
  },
}
</script>
<style scoped>
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 90vh;
  top: 60px;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
</style>
