<template>
  <Layout title="Contactez EnRole(FR)">
    <Container>
    <h1 class="text-xl mb-2">Contactez-nous</h1>
    <p class="text-sm italic mb-4">Que vous soyez utilisateurice, steameureuse ou apprenti.e contributeur/modérateur, posez-nous toutes vos questions, nous y répondrons dès que possible !</p>

    <div class="overflow-hidden grid grid-cols-2 gap-2">
        <ContactForm />
    </div>
  </Container>
  </Layout>
</template>
<script setup>
import { Head, Link } from '@inertiajs/vue3'
import Layout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import Icon from '@/Components/Graphics/Icon.vue'
import { ref } from 'vue'
import ContactForm from '@/Components/Forms/Contact.vue'

</script>
