<template>
  <Layout title="Foire aux questions">
    <Container>
      <div class="text-center w-3/4 mx-auto pt-12 md:pt-24">
        <h1 class="text-3xl mb-2">Foire aux questions</h1>
        <p class="text-sm italic mb-4">Voici une base de questions que vous pouvez lire si vous vous posez des questions sur l'application, le projet. N'hésitez pas à nous contacter pour nous demander d'en rajouter d'autres, si cela sert pour vous, cela sert certainement pour d'autres !</p>
      </div>
      <FAQ :faq="faq" class="divide-y divide-gray-200" />
    </Container>
  </Layout>
</template>
<script setup>
import { ref } from 'vue'
import { Head, Link } from '@inertiajs/vue3';
import Layout from '@/Layouts/AppLayout.vue';
import Container from '@/Components/Sections/Container.vue';
import FAQ from '@/Components/Faq.vue';
import Icon from '@/Components/Graphics/Icon.vue';

const faq = [{
  'question': 'En quoi consiste le projet ?',
  'answer': "Nous répertorions un grand nombre de liens vers des vidéos d'actual plays, que nous enrichissons soit grâce à l'API des plates-formes vidéo (Youtube par exemple), soit manuellement. L'application sert à la fois d'annuaire des actual plays français, et de compagnon/compagne pour organiser votre visionnage : les listes vous permettront de choisir les vidéos que vous voulez voir, indiquez celles que vous avez vues, et programmer le visionnage pour celles qui vous restent à regarder. EnRole(FR) se voit aussi comme un élément de communication pour les streamers de parties en ligne de plus en plus nombreux, et un outil à disposition des éditeurs qui veulent renvoyer sur une liste de vidéos autour de leurs jeux. Enfin, nous espérons un jour pouvoir participer à briser l'hégémonie de Youtube en proposant aux streamers de basculer vers d'autres plates-formes sans perdre leur public, grâce à leur présence sur notre application. Nous espérons que le projet vous enthousiasmera et rendra toutes ces fonctionnalités possibles et utiles."
},{
  'question': 'Comment vous aider ?',
  'answer': 'vous trouverez une page intitulé Participer ou comment participer ? qui vous expliquera tout cela en détail.'
},{
  'question': 'Telle fonctionnalité ne marche pas.',
  'answer': "L'application est pour le moment en plein développement, vous pouvez l'utiliser en tant qu'alpha testeureuse. Si vous le pouvez, participez. Sinon, j'essaierai de publier une roadmap de toutes les fonctionnalités sur le blog, pour que vous puissiez savoir combien de temps il vous reste à attendre avant d'avoir la fonctionnalité que vous attendez."
}];


</script>
