<template>
  <Layout title="Jeux">
    <Container  class="pb-24">
      <div class="bg-blue-500 p-10 text-indigo-400 text-center">
        <h1 class="text-4xl mb-4">{{ game.name }}</h1>
        <p class="text-lg" v-if="game.description" v-html="game.description"></p>
        </div>
        <!-- suggestions -->
    <div v-if="suggestions != null && suggestions.data.length > 0">
      <h2 class="mb-8 text-3xl font-bold">Suggestions pour {{ game.name }}</h2>
      <SuggestionsCollection :suggestions="suggestions" />
    </div>
    <div v-else>
      <h1 class="mb-8 text-3xl font-bold">{{ game.name }}</h1>
      <p>Il n'y a pas de suggestions pour ce jeu</p>
    </div>
    <!-- séries -->
    <div v-if="game.series != undefined && game.series.length > 0" class="mt-8">
      <h2 class="mb-8 text-3xl font-bold">Séries pour {{ game.name }}</h2>
      <ul class="list-none grid grid-cols-12">
        <li class="col-span-12 sm:col-span-6 md:col-span-4" v-for="(serie, sk) in game.series" :key="`serie-${sk}`">
          <SerieCard :serie="serie" />
        </li>
      </ul>
    </div> 
    </Container>
  </Layout>
</template>

<script setup>
import { ref } from 'vue'
import Layout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import SuggestionsCollection from '@/Components/Sections/SuggestionsCollection.vue'
import SerieCard from '@/Components/Elements/Cards/SerieCard.vue'

const props = defineProps({
  game: Object,
  suggestions: Object,
})

</script>

