<script setup>
import { ref, computed } from 'vue'
import { Link } from '@inertiajs/vue3'
import Layout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'

const props = defineProps({
  genres: Object,
})

</script>

<template>
  <Layout title="Tous les genres">
    <Container>
      <div class="py-20 px-2">
        <div class="bg-blue-500 p-10 text-indigo-400 text-center">
          <h1 class="text-4xl mb-4">Tous les genres</h1>
          <p class="text-lg">Découvrir des histoires dans les styles que vous aimez</p>
          </div>

          <ul class="list-none grid grid-cols-12">
            <li class="col-span-12 sm:col-span-6 md:col-span-4 mb-6" v-for="(genre, jk) in genres.data" :key="`jeu-${jk}`">
              <Link :href="`/actual-plays-genre/${genre.slug}`" v-if="genre.suggestions != null">
                <h5 class="font-bold">{{ genre.name }}</h5>
              <p v-if="genre.suggestions != null">{{ genre.suggestions.length }} suggestions</p>
              </Link>
            </li>  
          </ul>
      </div>
    </Container>
  </Layout>
</template>

