<template>
    <Layout>
      <Container>
        <h1 class="text-xl mb-2 my-4 font-sans">Actual plays ({{suggestions.total}})</h1>
        <div class="filters flex items-center gap-4">
            <select-input v-model="selectedGame" label="Filtrez par jeu" class="flex items-center gap-4">
                <option v-for="(game, gid) in games" :key="game.id" :value="game.id">{{ game.name }}</option>
            </select-input>
            <select-input v-model="selectedStreamer" label="Filtrez par streamer" class="flex items-center gap-4">
              <option v-for="(streamer, uid) in streamers" :key="uid" :value="uid">{{ streamer }}</option>
            </select-input>
            <Link href="/" title="Retour au catalogue" class="bg-indigo-900 text-white rounded-lg px-5 py-2">Réinitialiser</Link>
        </div>
        <div class="overflow-hidden grid grid-cols-2 gap-2 md:gap-3 xl:gap-4 md:grid-cols-3 xl:grid-cols-4 mt-4">
            <div v-for="suggestion in suggestions.data" :key="suggestion.id" class="hover:bg-gray-100 focus-within:bg-gray-100  max-w-[320px]">
                  <SuggestionCard :suggestion="suggestion" />
            </div>
            <div v-if="suggestions.length === 0">
              <td class="px-6 py-4 border-t" colspan="4">Pas de nouvelles suggestions pour le moment.</td>
            </div>
        </div>
        <Pagination class="mt-6" :links="suggestions.links" />
        <div v-if="series">
          <h2 class="mt-12 text-lg font-bold">Dernières mises à jour séries</h2>
          <div class="overflow-hidden grid grid-cols-2 gap-2 md:gap-3 xl:gap-4 md:grid-cols-3 xl:grid-cols-4 mt-4">
              <div v-for="serie in series" :key="`serie-${series.id}`" class="hover:bg-gray-100 focus-within:bg-gray-100  max-w-[320px]">
                    <SerieCard :serie="serie" />
              </div>
              <div v-if="series.length === 0">
                <td class="px-6 py-4 border-t" colspan="4">Pas de nouvelles séries pour le moment.</td>
              </div>
          </div>
        </div>
      </Container>
    </Layout>
</template>

<script setup>
import { ref, watch } from 'vue';
import Layout from '@/Layouts/AppLayout.vue'
import Pagination from '@/Components/Elements/Pagination.vue'
import Container from "@/Components/Sections/Container.vue";
import SelectInput from "@/Components/Forms/SelectInput.vue";
import SuggestionCard from "@/Components/Elements/Cards/SuggestionCard.vue";
import SerieCard from '@/Components/Elements/Cards/SerieCard.vue';

import {Inertia} from "@inertiajs/inertia";
import { Link} from "@inertiajs/vue3";

const props = defineProps({
    suggestions: Object,
    series: Object,
    games: Array,
    streamers: Array,
    filters: Object
});

const selectedGame = ref(props.filters.game_id);
const selectedStreamer = ref(props.filters.streamer_id);

watch(selectedGame, value => {
  const GameList = props.games;
  let chosenGame = GameList.find((game) => game.id == value);

  if (chosenGame.id != undefined){
       Inertia.get('/', { game_id: chosenGame.id, streamer_id: selectedStreamer.value }, {
        preserveState: true,
        replace: true
      });
  }
});

watch(selectedStreamer, value => {
  if (value != undefined){
    Inertia.get('/', { game_id: selectedGame.value, streamer_id: value }, {
      preserveState: true,
      replace: true
    });
  }
});

</script>
