<script setup>
import { ref, computed } from 'vue'
import { Link } from '@inertiajs/vue3'
import Layout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import GameCard from '@/Components/Elements/Cards/GameCardwtList.vue'

const props = defineProps({
  jeux: Object,
})

const suggestions = ref(null)

const reset = () => {
  form.value = mapValues(form.value, () => null)
}

const suggestionResults = computed(() => suggestions.value)

</script>

<template>
  <Layout title="Liste des jeux répertoriés dans les actual plays">
    <Container>
      <div class="py-20 px-2">
        <div class="bg-blue-500 p-10 text-indigo-400 text-center">
          <h1 class="text-4xl mb-4">Tous les jeux</h1>
          <p class="text-lg">Vous voulez connaître un jeu de rôle ? Regardez ses actual plays !</p>
          </div>

          <ul class="list-none grid grid-cols-12">
            <li class="col-span-12 sm:col-span-6 md:col-span-4" v-for="(jeu, jk) in jeux.data" :key="`jeu-${jk}`"><GameCard :jeu="jeu" /></li>
          </ul>
      </div>
    </Container>
  </Layout>
</template>

