<template>
  <Layout title="Mentions légales">
    <Container>
      <div>
      <h1 class="text-xl mb-2"> Mentions légales</h1>
      <p>Editeur, Responsable de la rédaction, de la publication et du traitement des données </p>
      <p><strong>GUILLOIS François-Xavier</strong><br> SIREN 891 085 516<br> 10 allée des Rossignols<br> 74150 RUMILLY<br>
        +33 638 056 100 </p>
      <p> Le nom de domaine enrole.fr et l'hébergement sont contractés chez l'hébergeur ALWAYSDATA SARL dont le siège
        social se trouve 91 rue du
        Faubourg Saint Honoré - 75008 Paris. </p>
      <h2  class="text-xl mb-2">Le texte</h2>
      <div class="bold-text"> L’obligation pour tout site internet de présenter des mentions légales a été établie en 2004
        par la loi de confiance dans l’économie numérique. Ces mentions légales servent à vous informer sur les personnes
        physiques et morales qui peuvent vous répondre en cas de ligite ou de problème technique. Nous avons une
        obligation légale d’information à l’égard de l’internaute qui visite notre création.
      </div>
    </div>
    <div class="mb-24 privacy-content">
      <h3 class="mt-6 text-xl mb-1"> Protection des données personnelles </h3>
      <h5 class="mt-3 text-lg mb-1">Objet du traitement&nbsp;des données</h5>
      <p> L'entreprise indididuelle FRANCOIS XAVIER GUILLOIS, dont le siège est situé à RUMILLY (74150) 10 allée des
        Rossignols, dispose d’un site internet «&nbsp;vitrine&nbsp;», qui présente son activité de développeur en
        informatique. Ce site permet, via un formulaire de contact en ligne, de recevoir les demandes des internautes et
        les données collectées à cette occasion sont enregistrées dans une base de données par un service tiers de
        confiance (SendInBlue). </p>
      <p>Cette base de données permet&nbsp;:</p>
      <ul>
        <li> de répondre aux sollicitations et demandes diverses déposées sur le site internet,</li>
        <li> d’adresser des publicités par courrier postal ou électronique auprès des prospects qui ne s’y sont pas
          opposés concernant les services proposés par l'entreprise.
        </li>
      </ul>
      <h5 class="mt-3 mb-1 text-lg">Base légale des traitements</h5>
      <ul>
        <li><em>Délivrance de renseignements</em>&nbsp;: la base légale du traitement est le consentement de la personne
          au traitement de ses données à caractère personnel pour une plusieurs finalités spécifiques (Cf. article 6.1.a
          du Règlement européen sur la protection des données).
        </li>
        <li><em>Prise de rendez-vous</em> : la base légale du traitement est l'exécution de mesures précontractuelles (Cf.
          article 6.1.b du Règlement européen sur la protection des données).
        </li>
        <li><em>Envoi de sollicitations commerciales par courrier postal ou électronique sur les produits et services
          commercialisés par l’entreprise</em> : la base légale du traitement est l’intérêt légitime de la société (Cf.
          article 6.1.f) du Règlement européen sur la protection des données), à savoir promouvoir nos produits et
          services et attirer de nouveaux clients.
        </li>
      </ul>
      <h5 class="mt-3 mb-1 text-lg">Catégories de données</h5>
      <ul>
        <li><em>Identité</em> : civilité, nom, prénom, adresse électronique, adresse, numéro de téléphone, code interne de
          traitement permettant l'identification du prospect, données relatives à l’enregistrement sur des listes
          d’opposition.
        </li>
        <li><em>Données relatives aux devis</em>&nbsp;: numéro du devis, détails et montant de la prestation demandée.
        </li>
      </ul>
      <h5 class="mt-3 mb-1 text-lg">Destinataires des données</h5> Les services tiers utilisés par l’entreprise individuelle
      FRANCOIS XAVIER GUILLOIS pour la mise en place des fonctionnalités proposées sur ce site. <h5 class="mt-3 mb-1">
        Durée de conservation des données</h5>
      <ul>
        <li><em>Données nécessaires à la délivrance de renseignements ou de prise de rendez-vous</em>&nbsp;: un (1) an
          s’il n’est pas donné suite à l’information délivrée ou la proposition de rendez-vous&nbsp;de soins; si le
          rendez-vous de soins est effectif, les données sont reversées dans le fichier clients de notre entreprise.
        </li>
        <li><em>Données nécessaires à la réalisation des opérations de prospection commerciale auprès de nos
          prospects</em> : trois (3) ans à compter de la collecte des données ou du dernier contact émanant du prospect.
        </li>
        <li><em>Données concernant les listes d'opposition à recevoir de la prospection</em>&nbsp;: trois (3) ans.</li>
      </ul>
      <h3 class="mt-6 mb-1 text-lg">Vos droits</h3>
      <p> Si vous ne souhaitez plus recevoir de publicité de la part de l’entreprise individuelle (exercice du droit
        d’opposition), contactez-nous à l’adresse indiquée ci-dessus. Vous pouvez accéder aux données vous concernant, les
        rectifier ou les faire effacer. Vous disposez également d'un droit à la portabilité et d’un droit à la limitation
        du traitement de vos données (Consulter le site <a href="https://www.cnil.fr/" rel="noopener noreferrer"
        >cnil.fr</a> pour plus d’informations sur vos droits). </p>
      <p> Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez
        me contacter&nbsp;: </p>
      <ul>
        <li><em>Par voie électronique</em> : <a href="mailto:ecrire.a@scriptami.com" rel="noopener noreferrer">ecrire.a@scriptami.com</a>
        </li>
        <li><em>Par courrier postal</em> : ENROLE - M François-Xavier GUILLOIS 10 allée des rossignols 74150 Rumilly
        </li>
      </ul>
      <p> Si vous estimez, après avoir contacté l’entreprise individuelle FRANCOIS XAVIER GUILLOIS, que vos droits «&nbsp;Informatique
        et Libertés&nbsp;» ne sont pas respectés, vous pouvez adresser une réclamation en ligne auprès de la CNIL.</p>
      </div>
    </Container>
  </Layout>
</template>
<script setup>
import { Head, Link } from '@inertiajs/vue3'
import Layout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import Icon from '@/Components/Graphics/Icon.vue'

</script>
