<template>
  <Layout title="Comment participer ?">
    <Container>
      <div>
      <h1 class="text-xl mb-2">Comment participer ?</h1>
      <div class="bold-text"> L’obligation pour tout site internet de présenter des mentions légales a été établie en 2004
        par la loi de confiance dans l’économie numérique. Ces mentions légales servent à vous informer sur les personnes
        physiques et morales qui peuvent vous répondre en cas de ligite ou de problème technique. Nous avons une
        obligation légale d’information à l’égard de l’internaute qui visite notre création.
      </div>
    </div>
    <div class="mb-24 privacy-content">
      <h3 class="mt-6 text-xl mb-1">Soutenir selon ses possibilités</h3>
      <h5 class="mt-3 text-lg mb-1">Faire un don</h5>
        <p>Comme tout projet <em>amateur</em>, EnRole(FR) représente des quantité d'heures de travail, et de l'argent chaque mois pour payer le serveur. Si vous ne pouvez pas passer de temps pour enrichir l'application, peut-être pouvez-vous me récompenser avec un pourboire ? Les premiers deniers iront bien entendu dans les factures pour le projet, la suite ira dans ma poche. Mais elle me motivera à continuer à maintenir et faire évoluer l'application.</p>
        <p class="text-center py-6">
          <Link href="https://revolut.me/fxguillois" target="_blank"  rel="noopener noreferrer">
            <PrimaryButton class="text-primary">Faire un don</PrimaryButton>
          </Link>          
        </p>
      <h5 class="mt-3 mb-1 text-lg">Votre espace streamer</h5>
      <p>Vous êtes créateurice de contenus sur Youtube (ou même d'autres plates-formes), vous faites des actual plays de jeu de rôles et vous voulez être visible sur la plate-forme ?</p>
      <p>EnRole(FR) vous propose d'avoir votre chez-vous où vous pourrez rajouter les liens vers vos vidéos, les catégoriser, améliorer leur description, et annoncer votre actualité.</p>      
      <ul>
        <li><em>Ajout des vidéos à regarder</em>&nbsp;: Comme les autres acteurices de l'application, vous avez accès à l'outil d'administration des vidéos. Rajouter une vidéo, c'est très simple, juste un titre et un lien peut suffire !
          Grâce à la connexion avec l'API Youtube (ou d'autres plates-formes où vous diffusez qui ont une api), les suggestions de visionnage se mettent à jour toutes seules, récupérant les statistiques, les images, tout ce qui vous a déjà pris du temps à renseigner ailleurs.
          <br>Pratique, non ? 
        </li>
        <li><em>Gérer vos contacts</em> : Comme vous avez une page dédiée sur votre site qui présente vos actual plays, vous pouvez relier les comptes des gens qui travaillent pour votre chaîne, créer de nouveaux guest pour les tagger sur vos vidéos, etc. 
        </li>
        <li><em>Annoncer votre actualité</em> : Nous sommes ouverts à ouvrir une page Agenda pour que les gens puissent retrouver les prochains actual plays qui seront streamés et ensuite disponibles en VOD.
          Si vous êtes intéressé.e, contactez-nous  !
        </li>
      </ul>
      <h5 class="mt-3 mb-1 text-lg">Devenir modérateur</h5>
      <p>Le travail du modérateur est assez simple, puisque nous n'avons pas de messagerie : il s'agit de s'assurer de l'exactitude des données, du bon classement des vidéos, et de contrôler que l'application s'affiche bien quelque soit la résolution et le support. </p>
      <p>Si vous êtes intéressé.e, contactez-nous !</p>
      <h5 class="mt-6 mb-1 text-lg">Devenir contributeur</h5>
      <p>Nous essayons de rentrer un maximum de vidéos pour être le plus exhaustif et le plus juste sur la visibilité de chacun.e. </p>
      <p>Mais nous ne pouvons pas tout voir, alors un petit coup de main ne serait pas de trop&hellip; Il vous suffit d'aller sur le tableau de bord, et de rentrer de nouvelles suggestions, le code ira chercher les statistiques, les images, on vous épargne tout le côté pénible. Votre rôle, c'est de nous ramener des pépites à regarder !</p>
      <p>Si vous êtes intéressé.e, contactez-nous !</p>
      </div>
      <p class="text-center pb-12">
        <Link href="/contacter-enrolefr-communication">
            <PrimaryButton class="text-primary">Nous contacter</PrimaryButton>
          </Link>          

      </p>
    </Container>
  </Layout>
</template>
<script setup>
import { Head, Link } from '@inertiajs/vue3'
import Layout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import Icon from '@/Components/Graphics/Icon.vue'
import PrimaryButton from '@/Components/Elements/Buttons/PrimaryButton.vue';

</script>
