<script setup>
import { ref, computed } from 'vue'
import { Link } from '@inertiajs/vue3'
import Layout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'

const suggestions = ref(null)

const reset = () => {
  form.value = mapValues(form.value, () => null)
}

const suggestionResults = computed(() => suggestions.value)

</script>

<template>
  <Layout title="Rechercher...">
    <Container>
      <h1 class="text-xl mb-2">Rechercher</h1>
      <div class="py-20 px-2">
        <div class="max-w-md mx-auto rounded-lg overflow-hidden md:max-w-xl">
          <div class="md:flex">
            <div class="w-full p-3">
              <div class="relative">
                <i class="absolute fa fa-search text-gray-400 top-5 left-4"></i>
                <input type="text" class="bg-white h-14 w-full px-12 rounded-lg focus:outline-none hover:cursor-pointer" name="">
                <span class="absolute top-4 right-5 border-l pl-4"><i class="fa fa-microphone text-gray-500 hover:text-green-500 hover:cursor-pointer"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Container>
  </Layout>
</template>

