<template>
  <Layout title="Série">
    <Container class="pb-24">
      <div class="bg-blue-500 p-10 text-indigo-400 text-center">
        <div class="flex justify-center">
            <img v-if="serie.imageUrl" :src="serie.imageUrl" :alt="`vignette pour ${serie.title}`" class="rounded-md mb-3 relative" />
            <img v-else-if="serie.suggestions != undefined && serie.suggestions[serie.suggestions.length-1].imageUrl" :src="serie.suggestions[0].imageUrl" :alt="`vignette pour ${serie.title}`" class="rounded-md mb-3 relative" />
        </div>
        <h1 class="text-4xl mb-4">{{ serie.name }}</h1>
        <p class="text-lg" v-if="serie.description" v-html="serie.description"></p>        

      </div>
      <!-- suggestions -->
      <div v-if="serie.suggestions != null && serie.suggestions.length > 0">
        <h2 class="mb-8 text-2xl font-bold">Actual plays de la série {{ serie.name }}</h2>
        <ul class="list-numeric">
          <li class="col-span-12 sm:col-span-6 md:col-span-4" v-for="(suggestion, sk) in serie.suggestions" :key="`suggestion-${sk}`">
            <Link :href="suggestion.url" target="_blank">
              #{{(sk + 1)}}. {{ suggestion.title }}
            </Link>
          </li>
        </ul>  
      </div>
      <div v-else>
        <h1 class="mb-8 text-3xl font-bold">{{ serie.name }}</h1>
        <p>Il n'y a pas de suggestions pour ce jeu</p>
      </div>  
    </Container>
  </Layout>
</template>

<script setup>
import { ref } from 'vue'
import { Link } from '@inertiajs/vue3'
import Layout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'


const props = defineProps({
  serie: Object,
  suggestions: Object,
})

</script>

