<script setup>
import { ref, computed } from 'vue'
import { Link } from '@inertiajs/vue3'
import Layout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import SerieCard from '@/Components/Elements/Cards/SerieCardwtList.vue'

const props = defineProps({
  series: Object,
})


const reset = () => {
  form.value = mapValues(form.value, () => null)
}

const suggestionResults = computed(() => suggestions.value)

</script>

<template>
  <Layout title="Toutes les séries">
    <Container>
      <div class="py-20 px-2">
        <div class="bg-blue-500 p-10 text-indigo-400 text-center">
          <h1 class="text-4xl mb-4">Toutes les séries</h1>
          <p class="text-lg">Parce que vous aimez connaître toute l'histoire !</p>
          </div>

          <ul class="list-none grid grid-cols-12">
            <li class="col-span-12 sm:col-span-6 md:col-span-4" v-for="(serie, jk) in series.data" :key="`jeu-${jk}`">
              <SerieCard :serie="serie" /></li>
          </ul>
      </div>
    </Container>
  </Layout>
</template>

