<template>
    <Layout>
      <Container>
    <h1 class="text-3xl font-bold mb-6 text-center">Statistiques</h1>
      <div class="filters flex items-center justify-center gap-4 my-4">
          <select-input v-model="selectedGame" label="Filtrez par jeu" class="flex items-center gap-4">
              <option v-for="(game, gid) in games" :key="game.id" :value="game.id">{{ game.name }}</option>
          </select-input>
          <select-input v-model="selectedStreamer" label="Filtrez par streamer" class="flex items-center gap-4">
            <option v-for="(streamer, uid) in streamers" :key="uid" :value="uid">{{ streamer }}</option>
          </select-input>
          <Link href="/actual-plays-statistics" title="Retour aux stats" class="bg-indigo-900 text-white rounded-lg px-5 py-2">Réinitialiser</Link>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <div>
          <!-- Left column content -->
          <h3 class="text-xl mb-2">Top 10 des AP les plus vus</h3>
          <TableStatList :data="bestViews" unit="views" title="Vues" />
        </div>
        <div>
          <!-- Right column content -->
          <h3 class="text-xl mb-2">Top 10 des AP les plus aimés</h3>
          <TableStatList :data="bestLikes" unit="likes" title="Likes" />
        </div>
        <div>
          <!-- Left column content -->
          <h3 class="text-xl mb-2">Top 10 des AP les plus commentés</h3>
          <TableStatList :data="bestComments" unit="comments" title="Commentaires" />
        </div>
        <div>
          <!-- Right column content -->
          <h3 class="text-xl mb-2">Top 10 des AP les plus mis en favoris</h3>
          <TableStatList :data="bestFavorites" unit="favorites" title="Favoris" />
        </div>
      </div>
    
    </Container>
    </Layout>
</template>
<script setup>
import { ref, computed, watch } from 'vue';
import {Inertia} from "@inertiajs/inertia";
import Layout from '@/Layouts/AppLayout.vue'
import Container from "@/Components/Sections/Container.vue";
import TableStatList from '@/Components/Elements/TableStatList.vue';
import SelectInput from "@/Components/Forms/SelectInput.vue";
import { Link } from "@inertiajs/vue3";

const props = defineProps({
    suggestions: Array,
    games: Array,
    streamers: Array,
    filters: Object
});

const bestViews = computed(() => {
  return props.suggestions.slice().sort((a, b) => {
    if (a.views > b.views) {
      return -1;
    }
    if (a.views < b.views) {
      return 1;
    }
    return 0;
  });
});


const bestLikes = computed(() => {
  return props.suggestions.slice().sort((a, b) => {
    if (a.likes > b.likes) {
      return -1;
    }
    if (a.likes < b.likes) {
      return 1;
    }
    return 0;
  });
});


const bestComments = computed(() => {
  return props.suggestions.slice().sort((a, b) => {
    if (a.comments > b.comments) {
      return -1;
    }
    if (a.comments < b.comments) {
      return 1;
    }
    return 0;
  });
});


const bestFavorites = computed(() => {
  return props.suggestions.slice().sort((a, b) => {
    if (a.favorites > b.favorites) {
      return -1;
    }
    if (a.favorites < b.favorites) {
      return 1;
    }
    return 0;
  });
});


const selectedGame = ref(props.filters.game_id);
const selectedStreamer = ref(props.filters.streamer_id);

watch(selectedGame, value => {
  const GameList = props.games;
  let chosenGame = GameList.find((game) => game.id == value);

  if (chosenGame.id != undefined){
       Inertia.get('/actual-plays-statistics', { game_id: chosenGame.id, streamer_id: selectedStreamer.value }, {
        preserveState: true,
        replace: true
      });
  }
});

watch(selectedStreamer, value => {
  if (value != undefined){
    Inertia.get('/actual-plays-statistics', { game_id: selectedGame.value, streamer_id: value }, {
      preserveState: true,
      replace: true
    });
  }
});

</script>