<script setup>
import { ref, computed } from 'vue'
import { Link } from '@inertiajs/vue3'
import Layout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import StreamerCard from '@/Components/Elements/Cards/StreamerCardwtList.vue'

const props = defineProps({
  streamers: Object,
})

const reset = () => {
  form.value = mapValues(form.value, () => null)
}

const suggestionResults = computed(() => suggestions.value)

</script>

<template>
  <Layout title="Liste des streamers">
    <Container>
      <div class="py-20 px-2">
        <div class="bg-blue-500 p-10 text-indigo-400 text-center">
          <h1 class="text-4xl mb-4">Tous les streamers</h1>
          <p class="text-lg">Votre streamer préféré ne figure pas encore dans la liste ? Aidez-nous à le faire connaître...</p>
          </div>
          <ul class="list-none grid grid-cols-12">
            <li class="col-span-12 sm:col-span-6 md:col-span-4" v-for="(streamer, sk) in streamers.data" :key="`streamer-${sk}`">
              <StreamerCard :streamer="streamer" />
            </li>
          </ul>
      </div>

    </Container>
  </Layout>
</template>

