<template>
  <Layout title="Streamers/Streameuse - Créateur/Créatrice de contenus">
    <Container  class="pb-24">
      <div class="bg-blue-500 p-10 text-indigo-400 text-center">
        <h1 class="text-4xl mb-4">{{ streamer_name }}</h1>
        <p class="text-lg" v-if="streamer.main_channel != null">
            <a :href="`https://www.youtube.com/channel/${streamer.main_channel}`" target="_blank">Découvrir la chaine</a>
          </p>
        </div>
        <!-- suggestions -->
    <div v-if="streamer.suggestions != null && streamer.suggestions.length > 0">
      <h2 class="mb-8 text-3xl font-bold">Suggestions pour {{ streamer_name }}</h2>
      <SuggestionsCollection :suggestions="streamer.suggestions" />
    </div>
    <div v-else>
      <h1 class="mb-8 text-3xl font-bold">{{ streamer_name }}</h1>
      <p>Il n'y a pas de suggestions pour ce streamer</p>
    </div>
    <!-- séries -->
    <div v-if="streamer.series != undefined && streamer.series.length > 0" class="mt-8">
      <h2 class="mb-8 text-3xl font-bold">Séries pour {{ streamer_name }}</h2>
      <ul class="list-none grid grid-cols-12">
        <li class="col-span-12 sm:col-span-6 md:col-span-4" v-for="(serie, sk) in streamer.series" :key="`serie-${sk}`">
          <SerieCard :serie="serie" />
        </li>
      </ul>
    </div> 
    </Container>
  </Layout>
</template>

<script setup>
import { computed, ref } from 'vue'
import { Link } from '@inertiajs/vue3'
import Layout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import SuggestionsCollection from '@/Components/Sections/SuggestionsCollection.vue'
import SerieCard from '@/Components/Elements/Cards/SerieCard.vue'

const props = defineProps({
  streamer: Object
})

const streamer_name = computed (() => (props.streamer.organization == 1) ? props.streamer.last_name : props.streamer.first_name + ' ' + props.streamer.last_name)

</script>

