<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import Container from '@/Components/Sections/Container.vue';
import {Link, useForm, router } from "@inertiajs/vue3";
import Checkbox from '@/Components/Forms/Checkbox.vue';
import SecondaryButton from '@/Components/Elements/Buttons/SecondaryButton.vue';
import { ref, watch } from 'vue';

 const props = defineProps({
    users: {
        type: Array,
        required: true
    },
    teams: {
        type: Array,
        required: true
    },
 })

 const deleteChecked = ref(null);

const form = useForm({
  user_ids: [],
  action: null,
  value: null,
});

 function nameFromArray(array){
  return array.map(function(elem){
    return elem.name;
  }).join(",")
}

function addToUserIds(event){
  let userNewId = event.target.getAttribute('data-id');
  if(form.user_ids.indexOf(userNewId) != -1){
    form.user_ids.splice(form.user_ids.indexOf(userNewId),1);
  } else {
    form.user_ids.push(userNewId);
  }
}

function massUpdate() {
  // si le tableau est rempli, envoyer la modification
  // console.log('données', form);
  if (form.action != null && form.user_ids.length > 0){
    router.post(`/internal/users/mass-edit/`, form)
  } else if (form.user_ids.length == 0){
    alert("cochez des utilisateurs sur la gauche");
  }
}

watch(deleteChecked, value => {
  form.action = "delete-checked";
  form.value = value;
});
</script>

<template>
    <AppLayout title="Gestion des utilisateurs">
        <Container>
            <h1 class="mt-24">GESTION DES UTILISATEURS</h1>
            <div class="px-4 sm:px-6 lg:px-8">
                <div class="sm:flex sm:items-center">
                    <div class="sm:flex-auto">
                    <!--h1 class="text-base font-semibold leading-6 text-gray-900">blogPosts</h1>
                    <p class="mt-2 text-sm text-gray-700">Liste des blogPosts proposées sur le site</p-->
                    <form  @submit.prevent="massUpdate" class="flex gap-4 items-center">
                        <div class="flex gap-6">
                        <label>Supprimer</label>
                            <Checkbox v-model="deleteChecked" id="delete_checked" value="1" />
                        </div>
                        <SecondaryButton><input type="submit" name="massEdit" value="Modifier par lot" /></SecondaryButton>
                    </form>
                    </div>
                    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
                    <Link href="/manage/users/create" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Ajouter un utilisateur</Link>
                    </div>
                </div>
            </div>
            <div class="mt-8 flow-root">
                <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-300">
                                <thead class="bg-gray-50">
                                <tr>
                                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                                    <span class="sr-only">Multi-edit</span>
                                </th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                    <span class="sr-only">Vignette</span>
                                </th>
                                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Nom</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Orga ?</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Equipe</th>
                                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                                    <span class="sr-only">Actions</span>
                                </th>
                                </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-200 bg-white">
                                <tr v-for="user in users" :key="user.id">
                                <td class="px-3 py-4">
                                    <checkbox v_model="form.user_ids" :data-id="user.id" @change="addToUserIds"></checkbox>
                                </td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><img v-if="user.photoProfilePath" :src="user.photoProfilePath" class="max-h-[3rem] rounded-md" ></td>
                                <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ user.name }}</td>
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{  user.email }}</td>
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><span v-if="user.organization == 'Oui'">{{ user.organization }}</span><span v-else-if="user.parent">{{ user.parent }}</span></td>
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><span v-if="user.teams[0]">{{ user.teams[0].name }}</span><span v-else>-</span></td>
                                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                                    <a :href="`/manage/users/${user.id}/edit`" class="text-indigo-600 hover:text-indigo-900 mr-2"
                                    >Editer<span class="sr-only">, {{ user.title }}</span></a
                                    >
                                </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </Container>
    </AppLayout>
</template>
