<template>
  <AppLayout title="Tags">
    <Head title="Tags" />
    <Container>
      <h1 class="mb-8 text-3xl font-bold">Tags</h1>
      <div class="flex items-center justify-between mb-6">
        <search-filter v-model="form.search" class="mr-4 w-full max-w-md" @reset="reset">
          <label class="block text-gray-700">Trashed:</label>
          <select v-model="form.trashed" class="form-select mt-1 w-full">
            <option :value="null" />
            <option value="with">With Trashed</option>
            <option value="only">Only Trashed</option>
          </select>
        </search-filter>
        <form  @submit.prevent="massEdit" class="flex gap-4 items-center">
          <label for="massEdit">Activer</label><input type="radio" v-model="form.mass_edit" value="activate" />
          <label for="massEdit">Désactiver</label><input type="radio" v-model="form.mass_edit" value="disactivate" />
          <label for="massEdit">Supprimer</label><input type="radio" v-model="form.mass_edit" value="delete" />
          <SecondaryButton><input type="submit" name="submit" value="Modifier par lot" /></SecondaryButton>
        </form>
        <Link class="bg-indigo-500 text-white rounded-md px-2 py-1 text-sm" href="/manage/tags/create">
          <span>Créer</span>
          <span class="hidden md:inline"> un&nbsp;Tag</span>
        </Link>
      </div>
      <div class="bg-white rounded-md shadow overflow-x-auto">
        <table class="w-full whitespace-nowrap">
          <tr class="text-left font-bold">
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                <span class="sr-only">Multi-edit</span>
                <checkbox name="selectCheckboxes" @change="selectAllCheckboxes"></checkbox>
            </th>
            <th class="pb-4 pt-6 px-6">Nom</th>
            <th class="pb-4 pt-6 px-6">Actif ?</th>
            <th class="pb-4 pt-6 px-6" colspan="2">Nb Sugg.</th>
          </tr>
          <tr v-for="tag in tags.data" :key="tag.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
            <td class="px-3 py-4">
              <checkbox name="tag_ids[]" :data-id="tag.id" @change="addToTagIds"></checkbox>
            </td>
            <td class="border-t">
              <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/manage/tags/${tag.id}/edit`">
                {{ tag.name }}
                <icon v-if="tag.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" />
              </Link>
            </td>
            <td class="border-t">
              <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/manage/tags/${tag.id}/edit`">
                {{ tag.active }}
              </Link>
            </td>
            <td class="border-t">
              <Link class="flex items-center px-6 py-4" v-if="tag.suggestions" :href="`/tags/${tag.id}/edit`" tabindex="-1">
                {{ tag.suggestions.length }}
              </Link>
            </td>
            <td class="w-px border-t">
              <Link class="flex items-center px-4" :href="`/manage/tags/${tag.id}/edit`" tabindex="-1">
                <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
              </Link>
            </td>
          </tr>
          <tr v-if="tags.length === 0">
            <td class="px-6 py-4 border-t" colspan="4">No tags found.</td>
          </tr>
        </table>
      </div>
      <pagination class="mt-6" :links="tags.links" />
    </Container>
  </AppLayout>
</template>

<script setup>
import { Head, Link, useForm } from '@inertiajs/vue3'
import Icon from '@/Components/Graphics/Icon.vue'
import SearchFilter from '@/Components/Elements/SearchFilter.vue'
import Pagination from '@/Components/Elements/Pagination.vue'
import mapValues from 'lodash/mapValues'
import AppLayout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import Checkbox from '@/Components/Forms/Checkbox.vue'
import SecondaryButton from '@/Components/Elements/Buttons/SecondaryButton.vue'
// import { ref, watch } from 'vue';

const props = defineProps({
  tags: Object,
  filters: Object,
})

const form = useForm({
  tag_ids: [],
  mass_edit: null,
  search: null,
  trashed: null
});

function addToTagIds(event){
  let tagNewId = event.target.getAttribute('data-id');
  if(form.tag_ids.indexOf(tagNewId) != -1){
    form.tag_ids.splice(form.tag_ids.indexOf(tagNewId),1);
  } else {
    form.tag_ids.push(tagNewId);
  }
}

function selectAllCheckboxes(event){
  const checkboxes = document.getElementsByName('tag_ids[]');
  for (let i = 0; i < checkboxes.length; i++) {
    checkboxes[i].checked = event.target.checked;
    let dataId = checkboxes[i].getAttribute('data-id');
    if(form.tag_ids.indexOf(dataId) != -1){
      form.tag_ids.splice(form.tag_ids.indexOf(dataId),1);
    } else {
      form.tag_ids.push(dataId);
    }    
  }  
}

function massEdit() {
  if (form.tag_ids.length > 0){
    form.post(route('manage.tags.mass_edit'), {
        errorBag: 'massEditTags',
        preserveScroll: true,
    });
  } else if (form.tag_ids.length == 0){
    alert("cochez des utilisateurs sur la gauche");
  }
}

const reset = () => {
  form.value = mapValues(form.value, () => null)
}
</script>
