<script setup>
import { Link } from '@inertiajs/vue3';

const props = defineProps({
    label: {
        type: String,
        required: true,
    },
    link: {
        type: String,
        required: true,
    },
    id: {
        type: String,
        required: true,
    },
});
</script>
<template>
    <Link
        :to="props.link"
        :id="props.id"
        class="px-8 py-1 text-sm font-thin text-center text-white rounded-md bg-primary"
    >
        {{ props.label }}
    </Link>
</template>
