<template>
  <div>
    <Head title="Créer un tag" />
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/manage/watchlists">Watchlists</Link>
      <span class="text-indigo-400 font-medium">/</span> Créer
    </h1>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="store">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <select-input v-model="form.user_id" :error="form.errors.user_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Utilisateur">
            <option v-for="(username, uid) in usersList" :key="`user${uid}`" :value="uid" v-html="username"></option>
          </select-input>
          <text-input v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" label="Nom" />
          <text-input v-model="form.order" :error="form.errors.order" type="number" class="pb-8 pr-6 w-full lg:w-1/2" label="Ordre" />
        </div>
        <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
          <loading-button :loading="form.processing" class="btn-indigo" type="submit">Créer la watchlist</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/vue3'
import TextInput from '@/Components/Forms/TextInput.vue'
import SelectInput from '@/Components/Forms/SelectInput.vue'
import LoadingButton from '@/Components/Elements/Buttons/LoadingButton.vue'

export default {
  components: {
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        name: "Ma liste de visionnage",
        order: 1,
        user_id: null,
      }),
    }
  },
  props: {
    usersList: Array,
  },
  methods: {
    store() {
      this.form.post('/manage/watchlists')
    },
  },
}
</script>
