<template>
  <div>
    <Head :title="form.name" />
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/manage/watchlists">Watchlists</Link>
      <span class="text-indigo-400 font-medium">/</span>
      {{ form.name }}
    </h1>
    <trashed-message v-if="watchlist.deleted_at" class="mb-6" @restore="restore"> Cette watchlist a été supprimée. </trashed-message>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="update">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <select-input v-model="form.user_id" :error="form.errors.user_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Utilisateur">
            <option v-for="(username, uid) in usersList" :key="`user${uid}`" :value="uid" v-html="username" ></option>
          </select-input>
          <text-input v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" label="Nom" />
          <text-input v-model="form.order" :error="form.errors.order" type="number" class="pb-8 pr-6 w-full lg:w-1/2" label="Ordre" />
        </div>
        <div class="flex items-center px-8 py-4 bg-gray-50 border-t border-gray-100">
          <button v-if="!watchlist.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Effacer</button>
          <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Mettre à jour</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/vue3'
import TextInput from '@/Components/Forms/TextInput.vue'
import SelectInput from '@/Components/Forms/SelectInput.vue'
import LoadingButton from '@/Components/Elements/Buttons/LoadingButton.vue'
import TrashedMessage from '@/Components/Elements/TrashedMessage.vue'

export default {
  components: {
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
    TrashedMessage,
  },
  props: {
    watchlist: Object,
    usersList: Array,
  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        name: this.watchlist.name,
        order: this.watchlist.order,
        user_id: this.watchlist.user_id
      }),
    }
  },
  methods: {
    update() {
      this.form.put(`/manage/watchlists/${this.watchlist.id}`)
    },
    destroy() {
      if (confirm('Voulez-vous vraiment supprimer cette watchlist ?')) {
        this.$inertia.delete(`/manage/watchlists/${this.watchlist.id}`)
      }
    },
    restore() {
      if (confirm('Voulez-vous vraiment restaurer cette watchlist ?')) {
        this.$inertia.put(`/manage/watchlists/${this.tag.id}/restore`)
      }
    },
  },
}
</script>
