<template>
  <div>
    <Head title="Watchlists" />
    <h1 class="mb-8 text-3xl font-bold">Watchlists</h1>
    <div class="flex items-center justify-between mb-6">
      <search-filter v-model="form.search" class="mr-4 w-full max-w-md" @reset="reset">
        <label class="block text-gray-700">Trashed:</label>
        <select v-model="form.trashed" class="form-select mt-1 w-full">
          <option :value="null" />
          <option value="with">With Trashed</option>
          <option value="only">Only Trashed</option>
        </select>
      </search-filter>
      <Link class="btn-indigo" href="/manage/watchlists/create">
        <span>Créer</span>
        <span class="hidden md:inline"> une&nbsp;Watchlist</span>
      </Link>
    </div>
    <div class="bg-white rounded-md shadow overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tr class="text-left font-bold">
          <th class="pb-4 pt-6 px-6">Nom</th>
          <th class="pb-4 pt-6 px-6">Utilisateur</th>
          <th class="pb-4 pt-6 px-6" colspan="2">Nb Sugg.</th>
        </tr>
        <tr v-for="watchlist in watchlists.data" :key="watchlist.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
          <td class="border-t">
            <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/manage/watchlists/${watchlist.id}/edit`">
              {{ watchlist.name }}
              <icon v-if="watchlist.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" />
            </Link>
          </td>
          <td class="border-t">
            <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/manage/watchlists/${watchlist.id}/edit`">
              {{ watchlist.user.email }}
              <icon v-if="watchlist.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" />
            </Link>
          </td>
          <td class="border-t">
            <Link class="flex items-center px-6 py-4" :href="`/watchlists/${watchlist.id}/edit`" tabindex="-1" v-if="watchlist.suggestions.length > 0">
              {{ watchlist.suggestions.count() }}
            </Link>
            <span v-else>0</span>
          </td>
          <td class="w-px border-t">
            <Link class="flex items-center px-4" :href="`/watchlists/${watchlist.id}/edit`" tabindex="-1">
              <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
            </Link>
          </td>
        </tr>
        <tr v-if="watchlists.length === 0">
          <td class="px-6 py-4 border-t" colspan="4">No watchlists found.</td>
        </tr>
      </table>
    </div>
    <pagination class="mt-6" :links="watchlists.links" />
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/vue3'
import Icon from '@/Components/Graphics/Icon.vue'
import SearchFilter from '@/Components/Elements/SearchFilter.vue'
import Pagination from '@/Components/Elements/Pagination.vue'
import mapValues from 'lodash/mapValues'

export default {
  components: {
    Pagination,
    Link, SearchFilter, Icon,
    Head,
  },
  props: {
    filters: Object,
    watchlists: Object,
  },
  data() {
    return {
      form: {
        search: this.filters.search,
        trashed: this.filters.trashed,
      },
    }
  },
  methods: {
    reset() {
      this.form = mapValues(this.form, () => null)
    },
  },
}
</script>
