<script setup>
    const props = defineProps({
        faq: {
            type: Array,
            required: true,
        },
    });
</script>
<template>
    <div class="px-4 py-12 mx-auto sm:py-16 sm:px-6 lg:px-8 faq">
        <dl class="p-6 space-y-6 divide-y divide-gray-200 rounded-lg">
            <div
                as="div"
                v-for="question in faq"
                :key="faq"
                class="pt-6"
            >
                <dt class="text-lg">
                    <div
                        class="flex items-start justify-between w-full text-left text-gray-400"
                    >
                        <span class="font-medium text-violet-600">{{
                                question.question
                            }}</span>
                        <span class="flex items-center ml-6 h-7">
                            C
                        </span>
                    </div>
                </dt>
                <div as="dd" class="pr-12 mt-2">
                    <p class="text-base text-gray-500">
                        {{ question.answer }}
                    </p>
                </div>
            </div>
        </dl>
    </div>
</template>
