<template>
  <AppLayout title="Création d'une nouvelle suggestion">
      <template #header>
          <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
              Création d'une nouvelle suggestion
          </h2>
      </template>
      <Container>
        <h1 class="mb-8 text-3xl font-bold">
          <Link class="text-indigo-400 hover:text-indigo-600" href="/dashboard">Suggestions</Link>
          <span class="text-indigo-400 font-medium">/</span>
          Nouvelle suggestion
        </h1>
        <!--trashed-message v-if="suggestion.deleted_at" class="mb-6" @restore="restore"> This suggestion has been deleted. </trashed-message-->
        <div class="grid grid-cols-12">
          <div class="col-span-12 lg:col-span-8 max-w-3xl bg-white rounded-md shadow overflow-hidden">
            <form @submit.prevent="create">
              <div class="grid grid-cols-2 -mb-8 -mr-6 p-8 gap-4">
                <text-input v-model="form.title" :error="form.errors.title" class="pb-8 pr-6 w-full" label="Titre" />
                <text-input v-model="form.eztitle" :error="form.errors.eztitle" class="pb-8 pr-6 w-full" label="Titre nettoyé" />
                <div>
                  <a :href="form.url" v-if="form.url" target="_blank" class="text-indigo-400 hover:text-indigo-600 float-right">Voir la vidéo</a>
                  <text-input v-model="form.url" :error="form.errors.url" class="pb-8 pr-6 w-full" label="Url" />
                </div>
                <text-input v-model="form.imageUrl" :error="form.errors.imageUrl" class="pb-8 pr-6 w-full" label="Url de la vignette" />
                <textarea-input v-model="form.params" :error="form.errors.params" class="pb-8 pr-6 w-full" label="Paramètres" />
                
                <switch-input v-model="form.validated" :error="form.errors.validated" class="pb-8 pr-6" label="Validation" @update:checked="validation" />
                <!--SearchIntoAll :data="games" /-->
                <select-input v-model="form.game_id" :error="form.errors.game_id" class="pb-8 pr-6 w-full flex flex-col" label="Jeu">
                  <option :value="null">-- pas de jeu --</option>
                  <option v-for="game in games" :key="game.id" :value="game.id" v-html="game.name"></option>
                </select-input>
                <select-input v-model="form.user_id" :error="form.errors.contact_id" class="pb-8 pr-6 w-full  flex flex-col" label="Streamers">
                  <option v-for="(streamer,sk) in streamers" :key="`streamer-${sk}`" :value="sk" v-html="streamer"></option>
                </select-input>
                <select-input multiple v-model="form.genre_ids" :error="form.errors.genre_ids" class="pb-8 pr-6 w-full flex flex-col gap-2" label="Genres">
                  <option v-for="genre in genres" :key="genre.id" :value="genre.id" v-html="genre.name"></option>
                </select-input>
                <select-input multiple v-model="form.tag_ids" :error="form.errors.tag_ids" class="pb-8 pr-6 w-full  flex flex-col gap-2" label="Tags">
                  <option v-for="tag in tags" :key="tag.id" :value="tag.id" v-html="tag.name"></option>
                </select-input>

              </div>
              <div class="flex items-center px-8 py-4 bg-gray-50 border-t border-gray-100">
                <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Créer</loading-button>
              </div>
            </form>
          </div>
          <div class="col-span-12 lg:col-span-4 flex flex-col justify-start items-start space-y-2 p-4">
            <div v-for="v in youtubeList" :key="`${v.id}`" class="text-left">
              <button @click="fill(v)" v-html="v.snippet.title.trim()"></button>
            </div>
          </div>
        </div>
      </Container>
  </AppLayout>
</template>

<script setup>
import { useForm, router, Head, Link } from '@inertiajs/vue3';
import { computed } from 'vue';
import AppLayout from "@/Layouts/AppLayout.vue";
import TextInput from '@/Components/Forms/TextInput.vue'
import SwitchInput from '@/Components/Forms/Switch.vue'
import TextareaInput from '@/Components/Forms/TextareaInput.vue'
import SelectInput from '@/Components/Forms/SelectInput.vue'
import LoadingButton from '@/Components/Elements/Buttons/LoadingButton.vue'
import Container from "@/Components/Sections/Container.vue"
import { sortByNameAsc } from "@/helpers.mjs"
// import SearchIntoAll from '@/Components/Elements/SearchIntoAll.vue';

const props = defineProps({
    suggestion: Object,
    games: Array,
    genres: Array,
    tags: Array,
    streamers: Array,
    auth: Object,
    youtubeList: Array
});

const form = useForm({
    title: null,
    eztitle: null,
    url: null,
    imageUrl: null,
    validated: null,
    params: null,
    views:0,
    likes:0,
    favorites:0,
    comments:0,
    game_id: null,
    user_id: 2,
    genre_ids: null,
    tag_ids: null,
});

const fill = (v) => {
  form.title = v.snippet.title;
  form.url = `https://www.youtube.com/watch?v=${v.id}`;
  form.imageUrl = v.snippet.thumbnails.default.url;
  form.params = JSON.stringify(v);
}

function create() {
    form.post(route('manage.suggestions.store'), {
        errorBag: 'createSuggestion',
        preserveScroll: true,
    });
}

function destroy() {
    if (confirm('Voulez-vous vraiment effacer cette suggestion ?')) {
        router.delete(`/manage/suggestions/${this.suggestion.id}`);
    }
}

function restore() {
    if (confirm('Voulez-vous vraiment restaurer cette  suggestion ?')) {
        router.put(`/manage/suggestions/${this.suggestion.id}/restore`);
    }
}
function validation(val) {
  form.validated = val;
}

const genres = computed(() => {
    return sortByNameAsc(props.genres);
});

const tags = computed(() => {
    return sortByNameAsc(props.tags);
});

const games = computed(() => {
    return sortByNameAsc(props.games);
});
</script>