<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import Container from '@/Components/Sections/Container.vue';
import moment from 'moment/moment';
import {Link, useForm} from "@inertiajs/vue3";
import Checkbox from "@/Components/Forms/Checkbox.vue";
import SelectInput from "@/Components/Forms/SelectInput.vue";
import { ref, watch } from 'vue';
import SecondaryButton from "@/Components/Elements/Buttons/PrimaryButton.vue";
import Pagination from '@/Components/Elements/Pagination.vue';
import { Inertia } from '@inertiajs/inertia';

const props = defineProps({
    suggestions: Object,
    games: Array,
    streamers: Object,
    genres: Object,
    filters: Object,
});

defineEmits(['update:suggestionIds'])

const selectedGame = ref(null);
const selectedStreamer = ref(null);
const selectedGenre = ref(null);
const ok2delete = ref(null);

const form = useForm({
  suggestion_ids: [],
  actions: [],
  page: 1,
});

function filterBy(field, direction){
  const toggleDirection = direction == 'desc' ? 'asc' : 'desc';
  console.log(toggleDirection, props.filters);

  Inertia.get(route('dashboard'), { orderby: field, order: toggleDirection }, {
    preserveState: true,
    replace: true
  });
}

function addToSuggestionsIds(event){
  let suggestionNewId = event.target.getAttribute('data-id');

  if (event.target.checked == true){
    if(form.suggestion_ids.indexOf(suggestionNewId) != -1){
      form.suggestion_ids.splice(form.suggestion_ids.indexOf(suggestionNewId),1);
    } else {
      form.suggestion_ids.push(suggestionNewId);
    } 
  } else {
    form.suggestion_ids.splice(form.suggestion_ids.indexOf(suggestionNewId),1);
  }
}

function massUpdate() {
  // console.log(form.actions, form.suggestion_ids);
  form.page = (route().params != undefined && route().params.page != undefined) ? route().params.page : 1;

  if (form.actions != null && form.suggestion_ids.length > 0){
    form.post(route(`manage.suggestions.mass_edit`), {
        errorBag: 'massEditSuggestions',
        preserveScroll: true,
        onSuccess: () => {
          form.reset('suggestion_ids');
          selectedGame.value = null;
          selectedStreamer.value = null;
          ok2delete.value = null;
          const checkboxes = document.getElementsByName('multi-select');
          for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = false;
          }
        }
    });    
  } else if (form.suggestion_ids.length == 0){
    alert("cochez des suggestions sur la gauche");
  }
  
}

watch(selectedGame, value => {
  form.actions = form.actions.filter(action => action.action != "game");
  if (value > 0){
    form.actions.push({ action: "game", value: value });
  }
});

watch(selectedStreamer, value => {
  form.actions = form.actions.filter(action => action.action != "streamer");
  if (value > 0){
    form.actions.push({ action: "streamer", value: value });
  }
});

watch(selectedGenre, value => {
  form.actions = form.actions.filter(action => action.action != "genre");
  if (value > 0){
    form.actions.push({ action: "genre", value: value });
  }
});

watch(ok2delete, value => {
  form.actions = form.actions.filter(action => action.action != "delete");
  if (value == 1){
    form.actions.push({ action: "delete", value: 1 });
  }

});

</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
                Tableau de bord
            </h2>
        </template>
        <Container>
            <!--div class="py-12">
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                    <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-xl sm:rounded-lg">
                        <Welcome />
                    </div>
                </div>
            </div-->

            <div class="px-4 sm:px-6 lg:px-8">
                <div class="sm:flex flex-col sm:items-center space-y-4">
                    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none md:flex space-x-4">
                        <Link href="/manage/jeux/create" class="block rounded-md bg-green-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">Ajouter un jeu</Link>
                        <Link href="/manage/users/create" class="block rounded-md bg-red-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Ajouter un streamer</Link>
                        <Link href="/manage/suggestions/create" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Ajouter une suggestion</Link>
                    </div>

                    <div class="sm:flex-auto">
                        <p><strong class="text-lg uppercase">Modifier par lot</strong></p>
                        <!--h1 class="text-base font-semibold leading-6 text-gray-900">Suggestions</h1>
                        <p class="mt-2 text-sm text-gray-700">Liste des suggestions proposées sur le site</p-->
                        <form  @submit.prevent="massUpdate" class="flex flex-col gap-4 items-center">
                          <div class="grid grid-cols-2 gap-6">
                            <select-input v-model="selectedGame" label="Jeu" class="flex gap-4 items-center">
                              <option value="0">-- filtre vide --</option>
                              <option v-for="game in games" :key="game.id" :value="game.id">{{ game.name }}</option>
                            </select-input>
                            <select-input v-model="selectedStreamer" label="Streamer"  class="flex gap-4 items-center">
                              <option value="0">-- filtre vide --</option>
                              <option v-for="(sname, uid) in props.streamers" :key="uid" :value="uid">{{ sname }}</option>
                            </select-input>
                            <select-input v-model="selectedGenre" label="Genre"  class="flex gap-4 items-center">
                              <option value="0">-- filtre vide --</option>
                              <option v-for="(genre, gid) in props.genres" :key="gid" :value="genre.id">{{ genre.name }}</option>
                            </select-input>
                            <p class="flex space-x-4 items-center">
                              <label for="deleted">Suppression ?</label>
                              <Checkbox v-model="ok2delete" name="deleted" value="1" />
                            </p>
                            
                          </div>
                          <p>
                            <SecondaryButton><input type="submit" name="massEdit" value="Modifier par lot" /></SecondaryButton>
                          </p>                          
                        </form>
                    </div>
                </div>
                <div class="mt-8 flow-root">
                    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                            <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-300">
                                    <thead class="bg-gray-50">
                                    <tr>
                                      <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                                        <span class="sr-only">Multi-edit</span>
                                      </th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                            <span class="sr-only">Vignette</span>
                                        </th>
                                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"><button id="filterBy-title" @click="filterBy('title',props.filters.order)">Titre</button></th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><button  id="filterBy-updated_at"  @click="filterBy('updated_at',props.filters.order)">Modifié le</button></th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Genre</th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><button  id="filterBy-game_id"  @click="filterBy('game_id',props.filters.order)">Jeu</button></th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><button  id="filterBy-user_id"  @click="filterBy('user_id',props.filters.order)">Streamer</button></th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><button  id="filterBy-views"  @click="filterBy('views',props.filters.order)">Nb vues</button></th>
                                        <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                                            <span class="sr-only">Actions</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200 bg-white">
                                    <tr v-for="suggestion in suggestions.data" :key="suggestion.id">
                                        <td class="px-3 py-4">
                                          <checkbox :data-id="suggestion.id" name="multi-select" @change="addToSuggestionsIds"></checkbox>
                                        </td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><img v-if="suggestion.imageUrl" :src="suggestion.imageUrl" class="max-h-[3rem] rounded-md" ></td>
                                        <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                          <span v-if="suggestion.eztitle == null">{{ suggestion.title }}</span>
                                          <span v-else>{{ suggestion.eztitle }}</span>
                                        </td>
                                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ moment(suggestion.updated_at).format("DD-MM-YY") }}</td>
                                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><Link :href="`/manage/jeux/${suggestion.genres[0].id}/edit`" v-if="suggestion.genres[0] != undefined"  class="text-primary">{{ suggestion.genres[0].name }}</Link></td>
                                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><Link :href="`/manage/jeux/${suggestion.game.id}/edit`" v-if="suggestion.game"  class="text-primary">{{ suggestion.game.name }}</Link></td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><Link :href="`/manage/users/${suggestion.user.id}/edit`" v-if="suggestion.user" class="text-primary">{{ suggestion.user.first_name }}</Link></td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ suggestion.views }}</td>
                                        <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                                            <a :href="`/manage/suggestions/${suggestion.id}/edit`" class="text-indigo-600 hover:text-indigo-900 mr-2"
                                            >Editer<span class="sr-only">, {{ suggestion.title }}</span></a
                                            >
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>                
                <Pagination class="mt-6" :links="suggestions.links" />
            </div>
        </Container>
    </AppLayout>
</template>
