<template>
  <AppLayout>
      <template #header>
          <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
              Edition de la suggestion {{ suggestion.title }}
          </h2>
      </template>
    <Container>
    <Head :title="form.name" />
        <h1 class="mb-8 text-3xl font-bold">
          <Link class="text-indigo-400 hover:text-indigo-600" href="/dashboard">Suggestions</Link>
          <span class="text-indigo-400 font-medium">/</span>
          {{ form.title }}
        </h1>
        <!--trashed-message v-if="suggestion.deleted_at" class="mb-6" @restore="restore"> This suggestion has been deleted. </trashed-message-->
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 lg:col-span-8 bg-white rounded-md shadow overflow-hidden">
            <form @submit.prevent="update">
              <div class="flex flex-wrap -mb-8 -mr-6 p-8 text-left justify-start">
                <text-input v-model="form.title" :error="form.errors.title" class="pb-8 pr-6 w-full lg:w-1/2" label="Titre" />
                <text-input v-model="form.eztitle" :error="form.errors.eztitle" class="pb-8 pr-6 w-full lg:w-1/2" label="Titre nettoyé" />
                <text-input v-model="form.url" :error="form.errors.url" class="pb-8 pr-6 w-full lg:w-1/2" label="Url" />
                <text-input v-model="form.imageUrl" :error="form.errors.imageUrl" class="pb-8 pr-6 w-full lg:w-1/2" label="Url de la vignette" />
                <textarea-input v-model="form.params" :error="form.errors.params" class="pb-8 pr-6 w-full lg:w-1/2" label="Paramètres" />
                <checkbox-input v-model="form.validated" :error="form.errors.validated" class="pb-8 pr-6 w-full lg:w-1/2" label="Validation" />
                  <text-input v-model="form.views" :error="form.errors.views" class="pb-8 pr-6 w-full lg:w-1/2" label="Vues" />
                  <text-input v-model="form.likes" :error="form.errors.likes" class="pb-8 pr-6 w-full lg:w-1/2" label="Likes" />
                  <text-input v-model="form.favorites" :error="form.errors.favorites" class="pb-8 pr-6 w-full lg:w-1/2" label="Favoris" />
                  <text-input v-model="form.comments" :error="form.errors.comments" class="pb-8 pr-6 w-full lg:w-1/2" label="Commentaires" />
                <select-input v-model="form.game_id" :error="form.errors.game_id" class="pb-8 pr-6 w-full lg:w-1/2 flex flex-col gap-2" label="Jeu">
                  <option :value="null" />
                  <option v-for="game in games" :key="game.id" :value="game.id" v-html="game.name"></option>
                </select-input>
                <select-input v-model="form.user_id" :error="form.errors.contact_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Streamers">
                  <option v-for="(streamer,sk) in streamers" :key="`streamer-${sk}`" :value="streamer.value" v-html="streamer.label"></option>
                </select-input>
                <select-input multiple v-model="form.genre_ids" :error="form.errors.genre_ids" class="pb-8 pr-6 w-full lg:w-1/2  flex flex-col gap-2" label="Genres">
                  <option v-for="genre in genres" :key="genre.id" :value="genre.id" v-html="genre.name"></option>
                </select-input>
                <select-input multiple v-model="form.tag_ids" :error="form.errors.tag_ids" class="pb-8 pr-6 w-full lg:w-1/2  flex flex-col gap-2" label="Tags">
                  <option v-for="tag in tags" :key="tag.id" :value="tag.id" v-html="tag.name"></option>
                </select-input>
              </div>
              <div class="flex items-center px-8 py-4 bg-gray-50 border-t border-gray-100">
                <button v-if="!suggestion.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Effacer</button>
                <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Mettre à jour</loading-button>
              </div>
            </form>
        </div>
        <div class="col-span-12 lg:col-span-4">
        </div>
      </div>
    </Container>
  </AppLayout>
</template>

<script setup>
import { useForm, router, Head, Link } from '@inertiajs/vue3';
import { computed } from 'vue';
import AppLayout from "@/Layouts/AppLayout.vue";
import TextInput from '@/Components/Forms/TextInput.vue'
import CheckboxInput from '@/Components/Forms/Checkbox.vue'
import TextareaInput from '@/Components/Forms/TextareaInput.vue'
import SelectInput from '@/Components/Forms/SelectInput.vue'
import LoadingButton from '@/Components/Elements/Buttons/LoadingButton.vue'
import Container from "@/Components/Sections/Container.vue";
import { sortByNameAsc } from "@/helpers.mjs"
// import TrashedMessage from '@/Components/TrashedMessage.vue'

const props = defineProps({
    suggestion: Object,
    games: Array,
    genres: Array,
    tags: Array,
    auth: Object,
    streamers: Array,
});

const form = useForm({
    title: null,
    eztitle: null,
    url: null,
    imageUrl: null,
    validated: null,
    params: null,
    views:0,
    likes:0,
    favorites:0,
    comments:0,
    game_id: null,
    user_id: null,
    genre_ids: null,
    tag_ids: null,
});

form.defaults({
    title: props.suggestion.title,
    eztitle: props.suggestion.eztitle,
    url: props.suggestion.url,
    imageUrl: props.suggestion.imageUrl,
    validated: props.suggestion.validated,
    params: props.suggestion.params,
    views:props.suggestion.views,
    likes:props.suggestion.likes,
    favorites:props.suggestion.favorites,
    comments:props.suggestion.comments,
    game_id: props.suggestion.game_id,
    user_id: props.suggestion.user_id,
    genre_ids: props.suggestion.genre_ids,
    tag_ids: props.suggestion.tag_ids,
});
form.reset();

function update() {
    router.put(`/manage/suggestions/${props.suggestion.id}`, form)
}

function destroy() {
    if (confirm('Voulez-vous vraiment effacer cette suggestion ?')) {
        router.delete(`/manage/suggestions/${this.suggestion.id}`);
    }
}

function restore() {
    if (confirm('Voulez-vous vraiment restaurer cette  suggestion ?')) {
        router.put(`/manage/suggestions/${this.suggestion.id}/restore`);
    }
}

const genres = computed(() => {
    return sortByNameAsc(props.genres);
});

const tags = computed(() => {
    return sortByNameAsc(props.tags);
});

const games = computed(() => {
    return sortByNameAsc(props.games);
});


</script>
@/helpers.mjs