<template>
  <div>
    <Head title="Suggestions" />
    <h1 class="mb-8 text-3xl font-bold">Suggestions</h1>
    <div class="flex items-center justify-between mb-6">
      <search-filter v-model="form.search" class="mr-4 w-full max-w-md" @reset="reset">
        <label class="block text-gray-700">Trashed:</label>
        <select v-model="form.trashed" class="form-select mt-1 w-full">
          <option :value="null" />
          <option value="with">With Trashed</option>
          <option value="only">Only Trashed</option>
        </select>
      </search-filter>
      <Link class="btn-indigo" href="/manage/suggestions/create">
        <span>Ajouter </span>
        <span class="hidden md:inline">&nbsp;une suggestion</span>
      </Link>
    </div>
    <div class="bg-white rounded-md shadow overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tr class="text-left font-bold">
          <th class="pb-4 pt-6 px-6">Lien</th>
          <th class="pb-4 pt-6 px-6">Jeu</th>
          <th class="pb-4 pt-6 px-6">Genres</th>
          <th class="pb-4 pt-6 px-6" colspan="2">Tags</th>
        </tr>
        <tr v-for="suggestion in suggestions.data" :key="suggestion.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
          <td class="border-t">
            <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/manage/suggestions/${suggestion.id}/edit`">
              <img v-if="suggestion.imageUrl" :src="suggestion.imageUrl" :alt="`vignette pour ${suggestion.title}`" class="rounded-full w-24 h-24" />
              <p>
                {{ suggestion.title }}<br>
                <span class="text-indigo-800 italic text-sm">Créé le {{ suggestion.created_at }}, mis à jour le {{ suggestion.updated_at }}</span>
              </p>
              <icon v-if="suggestion.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" />
            </Link>
          </td>
          <td class="border-t">
            <Link class="flex items-center px-6 py-4" :href="`/manage/suggestions/${suggestion.id}/edit`" tabindex="-1">
              <div v-if="suggestion.game">
                {{ suggestion.game.name }}
              </div>
              <div v-else-if="suggestion.game_id">
                {{ suggestion.game_id }}
              </div>
              <span v-else>Pas de jeu rattaché</span>
            </Link>
          </td>
          <td class="border-t">
            <Link class="flex items-center px-6 py-4" :href="`/manage/suggestions/${suggestion.id}/edit`" tabindex="-1">
              <span v-for="genre in suggestion.genres" :key="genre.id" v-html="genre.name" class="mr-4" />
            </Link>
          </td>
          <td class="border-t">
            <Link class="flex items-center px-6 py-4" :href="`/manage/suggestions/${suggestion.id}/edit`" tabindex="-1">
              <span v-for="tag in suggestion.tags" :key="tag.id" v-html="tag.name" class="mr-4" />
            </Link>
          </td>
          <td class="w-px border-t">
            <Link class="flex items-center px-4" :href="`/manage/suggestions/${suggestion.id}/edit`" tabindex="-1">
              <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
            </Link>
          </td>
        </tr>
        <tr v-if="suggestions.length === 0">
          <td class="px-6 py-4 border-t" colspan="4">No suggestions found.</td>
        </tr>
      </table>
    </div>
    <pagination class="mt-6" :links="suggestions.links" />
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/vue3'
import Icon from '@/Components/Graphics/Icon.vue'
import SearchFilter from '@/Components/Elements/SearchFilter.vue'
import Pagination from '@/Components/Elements/Pagination.vue'
import mapValues from 'lodash/mapValues'

export default {
  components: {
    Pagination,
    Link, SearchFilter, Icon,
    Head,
  },
  props: {
    filters: Object,
    suggestions: Object,
  },
  data() {
    return {
      form: {
        search: this.filters.search,
        trashed: this.filters.trashed,
      },
    }
  },
  methods: {
    reset() {
      this.form = mapValues(this.form, () => null)
    },
  },
}
</script>
