<template>
  <AppLayout title="Series">
    <Head title="Créer une série" />
    <Container>
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/manage/series">Séries</Link>
      <span class="text-indigo-400 font-medium">/</span> Créer
    </h1>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="store">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <TextInput v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" label="Titre" />
          <select-input v-model="form.user_id" :error="form.errors.user_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Utilisateur">
            <option v-for="(user,uk) in users" :key="`user-${uk}`" :value="user.value" v-html="user.label"></option>
          </select-input>
          <select-input v-model="form.game_id" :error="form.errors.game_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Jeu">
            <option v-for="(game,gk) in games" :key="`game-${gk}`" :value="game.value" v-html="game.label"></option>
          </select-input>
        </div>
        <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
          <LoadingButton :loading="form.processing" class="btn-indigo" type="submit">Créer une série</LoadingButton>
        </div>
      </form>
    </div>
  </Container>
  </AppLayout>
</template>

<script setup>
import { Head, Link, useForm } from '@inertiajs/vue3'
import { computed } from 'vue'
import TextInput from '@/Components/Forms/TextInput.vue'
import LoadingButton from '@/Components/Elements/Buttons/LoadingButton.vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import SelectInput from '@/Components/Forms/SelectInput.vue'

const props = defineProps({
  serie: Object,
  gamesList: Array,
  usersList: Array
})

const form = useForm({
  name: null,
  game_id: null,
  user_id: null
})

const games = computed(() => {
  return props.gamesList.slice().sort((a, b) => {
    if (a.name > b.name) {
      return -1;
    }
    if (a.name < b.name) {
      return 1;
    }
    return 0;
  });
});

const users = computed(() => {
  return props.usersList.slice().sort((a, b) => {
    if (a.last_name > b.last_name) {
      return -1;
    }
    if (a.last_name < b.last_name) {
      return 1;
    }
    return 0;
  });
});

const store = () => {
  form.post('/manage/series', {})
}
</script>
