<template>
  <AppLayout title="Series">
    <Head :title="form.name" />
    <Container>
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/manage/series">Series</Link>
      <span class="text-indigo-400 font-medium">/</span>
      {{ form.name }}
    </h1>
    <!--trashed-message v-if="serie.deleted_at" class="mb-6" @restore="restore"> Ce serie a été supprimé. </trashed-message-->
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 lg:col-span-8">
            <form @submit.prevent="update" class="bg-white rounded-md shadow overflow-hidden">
              <div class="grid grid-cols-2 -mb-8 -mr-6 p-8">
                <text-input v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" label="Titre" />
                <select-input v-model="form.user_id" :error="form.errors.user_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Utilisateur">
                  <option v-for="(user,uk) in users" :key="`user-${uk}`" :value="user.value" v-html="user.label"></option>
                </select-input>
                <select-input v-model="form.game_id" :error="form.errors.game_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Jeu">
                  <option v-for="(game,gk) in games" :key="`game-${gk}`" :value="game.value" v-html="game.label"></option>
                </select-input>
                <div class="flex flex-col gap-4 p-8">
                    <label>Description</label>
                    <textarea  v-model="form.description" :error="form.errors.description" class="pb-8 pr-6 w-full lg:w-1/2"></textarea>
                  </div>
                <p v-if="serie.total_views">Vues : {{ serie.total_views }}</p>
                <p v-if="serie.total_likes">Likes : {{ serie.total_likes }}</p>
              </div>
              <div class="flex items-center px-8 py-4 bg-gray-50 border-t border-gray-100">
                <!--button v-if="!serie.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Effacer</button-->
                <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Mettre à jour</loading-button>
              </div>
            </form>
            <br>
            <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden pb-4" v-if="serie.suggestions != null && serie.suggestions.length > 0">
              <div class="-mb-8 -mr-6 p-8">
                <h3 class="font-bold mb-4">Suggestions rattachées</h3>
                <div class="flex flex-col justify-start items-start space-y-2">
                  <div v-for="att_sug in serie.suggestions" :key="`${att_sug.uuid}`">
                    {{ att_sug.title }} <button @click="deleteSuggestion(att_sug.id)" class="text-red-400 hover:text-red-600">Supprimer</button>
                  </div>
                </div>
              </div>            
            </div>
          </div>
          <div class="col-span-4">
            <div v-if="suggestions">
              <h3>Suggestions possibles pour le jeu {{  serie.game_id }}</h3>
              <ul>
                <li v-for="(suggestion, sk) in suggestions" :key="`suggestion-${sk}`">
                  {{ suggestion.title }} <button @click="addSuggestion(suggestion.id)">Ajouter</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
  </Container>
  </AppLayout>
</template>

<script setup>
import { computed } from 'vue'
import { useForm, Head, Link} from "@inertiajs/vue3";
import TextInput from '@/Components/Forms/TextInput.vue'
import LoadingButton from '@/Components/Elements/Buttons/LoadingButton.vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import SelectInput from '@/Components/Forms/SelectInput.vue'

const props = defineProps({
  serie: Object,
  gamesList: Array,
  usersList: Array,
  suggestions: Array
})

const form = useForm({
  name: null,
  game_id: null,
  user_id: null
})

form.defaults({
  name: props.serie.name,
  game_id: props.serie.game_id,
  user_id: props.serie.user_id
})
form.reset();

const games = computed(() => {
  return props.gamesList.slice().sort((a, b) => {
    if (a.name > b.name) {
      return -1;
    }
    if (a.name < b.name) {
      return 1;
    }
    return 0;
  });
});

const users = computed(() => {
  return props.usersList.slice().sort((a, b) => {
    if (a.last_name > b.last_name) {
      return -1;
    }
    if (a.last_name < b.last_name) {
      return 1;
    }
    return 0;
  });
});

const addSuggestion = (id) => {
  form.post(`/manage/series/${props.serie.id}/attach/${id}`)
}

const deleteSuggestion = (id) => {
  form.post(`/manage/series/${props.serie.id}/detach/${id}`)
}

const update = () => {
  form.put(`/manage/series/${props.serie.id}`, form)
}

const destroy = () => {
  if (confirm('Voulez-vous vraiment supprimer ce serie ?')) {
    form.delete(`/manage/series/${serie.id}`)
  }
}

const restore = () => {
  if (confirm('Voulez-vous vraiment restaurer ce serie ?')) {
    form.put(`/manage/series/${serie.value.id}/restore`)
  }
}
</script>
