<template>
  <AppLayout title="Series">
    <Head title="Series" />
    <Container>
      <h1 class="mb-8 text-3xl font-bold">Séries</h1>
      <div class="flex items-center justify-between mb-6">
        <search-filter v-model="form.search" class="mr-4 w-full max-w-md" @reset="reset">
          <label class="block text-gray-700">Trashed:</label>
          <select v-model="form.trashed" class="form-select mt-1 w-full">
            <option :value="null" />
            <option value="with">With Trashed</option>
            <option value="only">Only Trashed</option>
          </select>
        </search-filter>
        <form  @submit.prevent="massDelete" class="flex gap-4 items-center">
          <SecondaryButton><input type="submit" name="massDelete" value="Supprimer" /></SecondaryButton>
        </form>
        <Link class="bg-indigo-500 text-white rounded-md px-2 py-1 text-sm" href="/manage/series/create">
          <span>Créer</span>
          <span class="hidden md:inline"> une&nbsp;série</span>
        </Link>
      </div>
      <div class="bg-white rounded-md shadow overflow-x-auto">
        <table class="w-full whitespace-nowrap">
          <tr class="text-left font-bold">
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                <span class="sr-only">Multi-edit</span>
                <checkbox name="selectCheckboxes" @change="selectAllCheckboxes"></checkbox>
            </th>
            <th class="pb-4 pt-6 px-6">Titre de la série</th>
            <th class="pb-4 pt-6 px-6">Nb Sugg.</th>
            <th class="pb-4 pt-6 px-6">Jeu</th>
            <th class="pb-4 pt-6 px-6" colspan="2">Utilisateur</th>
          </tr>
          <tr v-for="serie in series.data" :key="serie.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
            <td class="px-3 py-4">
              <checkbox name="serie_ids[]" :data-id="serie.id" @change="addToSerieIds"></checkbox>
            </td>
            <td class="border-t">
              <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/manage/series/${serie.id}/edit`">
                {{ serie.name }}
                <icon v-if="serie.deleted_at" name="trash" class="flex-shrink-0 ml-2 w-3 h-3 fill-gray-400" />
              </Link>
            </td>
            <td class="border-t">
              <Link class="flex items-center px-6 py-4" v-if="serie.suggestions" :href="`/manage/series/${serie.id}/edit`" tabindex="-1">
                {{ serie.suggestions.length }}
              </Link>
            </td>
            <td class="border-t">
              <Link class="flex items-center px-6 py-4" v-if="serie.game" :href="`/manage/jeux/${serie.game.id}/edit`" tabindex="-1">
                {{ serie.game.name }}
              </Link>
            </td>
            <td class="border-t">
              <Link class="flex items-center px-6 py-4" v-if="serie.user" :href="`/manage/users/${serie.user.id}/edit`" tabindex="-1">
                <span v-if="serie.user.organization == true">{{ serie.user.last_name }}</span>
                <span v-else>{{ serie.user.first_name }} {{ serie.user.last_name }}</span>
              </Link>
            </td>
            <td class="w-px border-t">
              <Link class="flex items-center px-4" :href="`/manage/series/${serie.id}/edit`" tabindex="-1">
                <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
              </Link>
            </td>
          </tr>
          <tr v-if="series.length === 0">
            <td class="px-6 py-4 border-t" colspan="4">No series found.</td>
          </tr>
        </table>
      </div>
      <pagination class="mt-6" :links="series.links" />
    </Container>
  </AppLayout>
</template>

<script setup>
import { Head, Link, useForm } from '@inertiajs/vue3'
import Icon from '@/Components/Graphics/Icon.vue'
import SearchFilter from '@/Components/Elements/SearchFilter.vue'
import Pagination from '@/Components/Elements/Pagination.vue'
import mapValues from 'lodash/mapValues'
import AppLayout from '@/Layouts/AppLayout.vue'
import Container from '@/Components/Sections/Container.vue'
import Checkbox from '@/Components/Forms/Checkbox.vue'
import SecondaryButton from '@/Components/Elements/Buttons/SecondaryButton.vue'
// import { ref, watch } from 'vue';

const props = defineProps({
  series: Object,
  filters: Object,
})

const form = useForm({
  serie_ids: [],
  search: null,
  trashed: null
});

function addToSerieIds(event){
  let serieNewId = event.target.getAttribute('data-id');
  if(form.serie_ids.indexOf(serieNewId) != -1){
    form.serie_ids.splice(form.serie_ids.indexOf(serieNewId),1);
  } else {
    form.serie_ids.push(serieNewId);
  }
}

function selectAllCheckboxes(event){
  const checkboxes = document.getElementsByName('serie_ids[]');
  for (let i = 0; i < checkboxes.length; i++) {
    checkboxes[i].checked = event.target.checked;
    let dataId = checkboxes[i].getAttribute('data-id');
    if(form.serie_ids.indexOf(dataId) != -1){
      form.serie_ids.splice(form.serie_ids.indexOf(dataId),1);
    } else {
      form.serie_ids.push(dataId);
    }    
  }  
}

function massDelete() {
  if (form.serie_ids.length > 0){
    form.post(route('manage.series.mass_delete'), {
        errorBag: 'massDeleteSeries',
        preserveScroll: true,
    });
  } else if (form.serie_ids.length == 0){
    alert("cochez des utilisateurs sur la gauche");
  }
}

const reset = () => {
  form.value = mapValues(form.value, () => null)
}
</script>
