<script setup>
defineProps({
    title: String
});
</script>
<template>
    <h3 class="text-center my-12 text-primary uppercase text-2xl font-bold tracking-tight">
        {{ title }}
    </h3>
</template>
