<script setup>
const email = ref();
const name = ref();
const password = ref();
const message = ref();
const grant = ref();
const mailSent = ref();
const errors = ref({});
const formHasErrors = ref(false);

const nl2br = function (str, is_xhtml) {
    if (typeof str === "undefined" || str === null) {
        return "";
    }
    var breakTag =
        is_xhtml || typeof is_xhtml === "undefined" ? "<br />" : "<br>";
    return (str + "").replace(
        /([^>\r\n]?)(\r\n|\n\r|\r|\n)/g,
        "$1" + breakTag + "$2"
    );
};

const validateForm = function () {
    formHasErrors.value = false; // on réinitialise (attention aux effets de bord)
    if (email.value == "" || email.value == undefined) {
        errors.value.email = "Vous n'avez pas saisi votre email ";
    } else {
        errors.value.email = null;
    }
    if (password.value == "" || password.value == undefined) {
        errors.value.phone = "Vous n'avez pas indiqué votre mot de passe ";
    } else {
        errors.value.phone = null;
    }
    if (name.value == "" || name.value == undefined) {
        errors.value.name = "Vous n'avez pas indiqué votre nom ";
    } else {
        errors.value.name = null;
    }
    if (message.value == "" || message.value == undefined) {
        errors.value.message = "Vous n'avez pas rempli de message ";
    } else {
        errors.value.message = null;
    }

    if (grant.value === false || grant.value == undefined) {
        errors.value.grant = "Vous n'avez pas coché la petite case... ";
    } else {
        errors.value.grant = null;
    }

    Object.keys(errors.value).forEach((key) => {
        if (errors.value[key] !== null) {
            console.log(key);
            formHasErrors.value = true;
        }
    });
};

const resetForm = function () {
    email.value = "";
    phone.value = "";
    message.value = "";
    name.value = "";
    grant.value = false;
};

const errorMessage = computed(() => {
    let message = "";
    Object.keys(errors.value).forEach((key) => {
        if (errors.value[key] !== null) {
            message += errors.value[key] + "<br />";
        }
    });
    return message;
});

const sendMail = function () {
    validateForm();
    console.log(formHasErrors.value);
    if (formHasErrors.value == true) {
        return false;
    } else {
        let sending = true;
        //console.log('sending ready');
        const apiKey =
            "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";
        let html_message =
            "Demande de création de compte de " +
            name.value +
            " (" +
            password.value +
            ")" +
            "\n\rEnvoyé par : " +
            email.value +
            "\n\r\n\r" +
            message.value;
        let subject = "";
        subject =
            "Demande de création de compte de " +
            name.value +
            " - CABINET PARTAGE";

        let body = {
            sender: {
                name: name.value,
                email: email.value,
            },
            to: [
                {
                    email: "location@cabinet-partage.fr",
                    name: "CABINET PARTAGE",
                },
            ],
            htmlContent: nl2br(html_message),
            textContent: html_message,
            subject: subject,
        };

        const options = {
            method: "POST",
            body: JSON.stringify(body),
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
                "api-key": apiKey,
            },
        };
        let action = "https://api.sendinblue.com/v3/smtp/email";

        // send POST request
        fetch(action, options)
            .then((res) => res.json())
            .then((json) => {
                if (json.messageId != undefined) {
                    sending = false;
                    mailSent.value = true;
                    resetForm();
                } else {
                    mailSent.value = false;
                }
            })
            .catch((err) => console.error("error:" + err));
        return false;
    }
};
</script>
<template>
    <!-- Contact Form -->
    <form
        method="post"
        @submit.prevent="sendMail"
        name="AccountCreationForm"
        id="AccountCreationForm"
    >
        <p id="error-msg"></p>
        <div id="simple-msg"></div>
        <div class="space-y-6">
            <!-- Name Input -->
            <FormBasicInput
                placeholder="NOM"
                id="name"
                label="Nom"
                v-model:inputValue="name"
            />

            <!-- Email  Input -->
            <FormBasicInput
                placeholder="EMAIL"
                id="email"
                label="E-mail"
                v-model:inputValue="email"
            />
            <!-- Password Input -->
            <FormBasicInput
                placeholder="MOT DE PASSE"
                id="password"
                label="Mot de passe"
                v-model:inputValue="password"
            />

            <!-- Maessage Textarea Input -->
            <textarea
                class="block w-full p-3 text-sm rounded bg-gray-50 text-mediumgray hover:bg-gray-100"
                placeholder="MESSAGE"
                name="comments"
                id="comments"
                v-model="message"
                rows="3"
            ></textarea>

            <!-- validation checkbox Input -->
            <div class="flex items-start mb-6">
                <div class="flex items-center h-5">
                    <input
                        class="w-4 h-4 rounded text-tertiary checked:bg-tertiary"
                        type="checkbox"
                        v-model="grant"
                        id="remember"
                        label="Je déclare avoir pris connaissance et accepté les conditions générales d'utilisation et les mentions légales-RGPD, notamment concernant l'usage qui sera fait de mes données personnelles."
                    />
                </div>
                <div class="ml-3 text-sm">
                    <label for="remember" class="font-medium text-white"
                    >Je déclare avoir pris connaissance et accepté les
                        conditions générales d'utilisation et les mentions
                        légales-RGPD, notamment concernant l'usage qui sera fait
                        de mes données personnelles.</label
                    >
                </div>
            </div>

            <div v-if="errorMessage">
                <p class="text-sm text-secondary" v-html="errorMessage"></p>
            </div>
            <div v-else>
                <div v-if="mailSent">
                    <p class="text-sm text-white">
                        Votre message m'a bien été transmis.<br />
                        Merci, je vous recontacte bientôt.
                    </p>
                </div>
            </div>
            <div class="pb-12">
                <!-- Form Submit Button -->
                <input
                    type="submit"
                    id="submit"
                    name="send"
                    class="block w-1/2 px-5 pt-2 pb-2 mx-auto font-thin rounded-md text-deepgreen bg-lightgreen"
                    value="S'INCRIRE"
                />
            </div>
        </div>
    </form>
    <!--end form-->
</template>
