<script setup>
const props = defineProps(["placeholder", "label", "checkboxValue", "id"]);

defineEmits(["update:checkboxValue"]);
</script>
<template>
    <div class="flex items-start mb-6">
        <div class="flex items-center h-5">
            <input
                class="w-4 h-4 rounded text-tertiary checked:bg-tertiary"
                type="checkbox"
                :name="checkboxValue"
                value="1"
                @input="
                    $emit(
                        'update:checkboxValue',
                        $event.target.checked == true
                            ? $event.target.value
                            : '0'
                    )
                "
                :id="id"
            />
        </div>
        <div class="ml-3 text-sm">
            <label :for="id" class="font-medium text-white">{{ label }}</label>
        </div>
    </div>
</template>
