<script setup>
import { ref } from 'vue';
const props = defineProps(["placeholder", "label", "inputValue", "id"]);
const type = ref("text");

switch (props.id) {
    case "email":
        type.value = "email";
        break;
    case "password":
        type.value = "password";
        break;
    default:
        type.value = "text";
        break;
}

defineEmits(["update:name"]);
</script>
<template>
    <div>
        <label v-if="label">{{ label }}</label>
        <input
            :type="type"
            :name="id"
            :id="id"
            :value="inputValue"
            @input="$emit('update:inputValue', $event.target.value)"
            class="block w-full p-3 text-sm border-0 rounded bg-gray-50 text-mediumgray hover:bg-gray-100 focus:border-0"
            :placeholder="placeholder"
        />
    </div>
</template>
<style scoped>
[type="email"]:focus {
    border-width: 0;
}
</style>
