<template>
  <div :class="attrs.class">
    <label v-if="label" class="form-label font-bold" :for="id">{{ label }}</label>
    <select :id="id" ref="input" v-model="selected" v-bind="{ ...attrs, class: null }" class="form-select" :class="{ error: error }">
      <slot />
    </select>
    <div v-if="error" class="form-error">{{ error }}</div>
  </div>
</template>

<script setup>
import { ref, toRefs, watch, onMounted,useAttrs } from 'vue';

const emit = defineEmits(['update:modelValue']);

const props = defineProps({
  id: {
    type: String,
    default: 'select-input',
  },
  error: String,
  label: String,
  modelValue: [String, Number, Boolean],
});

const selected = ref(props.modelValue);

watch(selected, (newValue) => {
  emit('update:modelValue', newValue);
});

const attrs = useAttrs();

onMounted(() => {
  const { input } = toRefs(props);
  focus: () => input.focus();
  select: () => input.select();
});
</script>

<!--script>
export default {
  inheritAttrs: false,
  props: {
    id: {
      type: String,
      default() {
        return `select-input`
      },
    },
    error: String,
    label: String,
    modelValue: [String, Number, Boolean],
  },
  emits: ['update:modelValue'],
  data() {
    return {
      selected: this.modelValue,
    }
  },
  watch: {
    selected(selected) {
      this.$emit('update:modelValue', selected)
    },
  },
  methods: {
    focus() {
      this.$refs.input.focus()
    },
    select() {
      this.$refs.input.select()
    },
  },
}
</script-->
