<script setup>
import { computed, ref, watch } from 'vue';
import { Switch } from '@headlessui/vue'

const emit = defineEmits(['update:checked']);


const props = defineProps({
    checked: {
        type: [Array, Boolean],
        default: false,
    },
    label: {
        type: String,
        default: null,
    },
});

const enabled = ref(props.checked);

// emit update result to parent
watch(enabled, (val) => {
    emit('update:checked', val);
});

</script>


<template>
    <Switch
        v-if="!label"
        v-model="enabled"
        :class="enabled ? 'bg-indigo-900' : 'bg-indigo-300'"
        class="relative inline-flex h-[38px] w-[74px] shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75"
        ><span class="sr-only">change {{ label }}</span>
        <span
            aria-hidden="true"
            :class="enabled ? 'translate-x-9' : 'translate-x-0'"
            class="pointer-events-none inline-block h-[34px] w-[34px] transform rounded-full bg-indigo-500 shadow-lg ring-0 transition duration-200 ease-in-out"
        />
    </Switch>
    <div v-else class="flex items-center gap-4">
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-200">{{ label }}</label>
        <Switch
            v-model="enabled"
            :class="enabled ? 'bg-indigo-900' : 'bg-indigo-300'"
            class="relative inline-flex h-[38px] w-[74px] shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus-visible:ring-2 focus-visible:ring-white/75"
            ><span class="sr-only">change {{ label }}</span>
            <span
                aria-hidden="true"
                :class="enabled ? 'translate-x-9' : 'translate-x-0'"
                class="pointer-events-none inline-block h-[34px] w-[34px] transform rounded-full bg-indigo-500 shadow-lg ring-0 transition duration-200 ease-in-out"
            />
        </Switch>
    </div>
</template>
