<script setup>
const props = defineProps({
    label: {
        type: String,
        required: true,
    },
    defaultValue: {
        type: String,
        required: true,
    },
    id: {
        type: String,
        required: true,
    },
});

const value = ref(props.defaultValue);
const bType = ref(false);
const emit = defineEmits(["updateuser"]);

const updateRequest = async function () {
    const supabase = useSupabaseClient();
    const user = useUser();
    let data2update = {};
    data2update[props.id] = value.value;

    // on met à jour la base de données
    if (user.value?.id !== undefined) {
        const { data, error } = await supabase
            .from("profile")
            .update(data2update)
            .eq("user_id", user.value.id);
    }

    // on met à jour le state
    if (user.value.profile !== undefined) {
        user.value.profile[props.id] = value.value;
    }
    // emit("updateUser", { field: props.id, value: value.value });
    bType.value = false;
};

const enabled = ref(false);
</script>
<template>
    <div
        v-if="enabled"
        :class="[
            enabled ? 'bg-indigo-600' : 'bg-gray-200',
            'relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2',
        ]"
    >
        <span class="sr-only">Use setting</span>
        <span
            aria-hidden="true"
            :class="[
                enabled ? 'translate-x-5' : 'translate-x-0',
                'pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out',
            ]"
        />
    </div>
</template>
