<script setup>
const props = defineProps({
    label: {
        type: String,
        required: true,
    },
    defaultValue: {
        type: String,
        required: true,
    },
    id: {
        type: String,
        required: true,
    },
});

const value = ref(props.defaultValue);
const bType = ref(false);
const emit = defineEmits(["updateuser"]);

const updateRequest = async function () {
    const supabase = useSupabaseClient();
    const user = useUser();
    let data2update = {};
    data2update[props.id] = value.value;

    // on met à jour la base de données
    if (user.value?.id !== undefined) {
        const { data, error } = await supabase
            .from("profile")
            .update(data2update)
            .eq("user_id", user.value.id);
    }

    // on met à jour le state
    if (user.value.profile !== undefined) {
        user.value.profile[props.id] = value.value;
    }
    // emit("updateUser", { field: props.id, value: value.value });
    bType.value = false;
};
</script>
<template>
    <div>
        <div v-if="bType === false" class="text-violet-900">
            {{ value }}
            <button @click="bType = true" class="float-right text-violet-500">
                Mettre à jour
            </button>
        </div>
        <div v-else>
            <input
                type="text"
                v-model="value"
                class="w-full border-gray-300 rounded-md shadow-sm focus:border-violet-500 focus:ring-violet-500 sm:text-sm"
            />
            <button @click="updateRequest" class="text-violet-500">OK</button>
        </div>
    </div>
</template>
