<script setup>
const props = defineProps({
    day: {
        type: String,
        required: true,
    },
    partday: {
        type: String,
        required: true,
    },
    location: {
        type: String,
        required: true,
    },
    room: {
        type: String,
        required: true,
    },
    image: {
        type: String,
        required: true,
    },
});
</script>
<template>
    <div
        class="flex items-center justify-center w-full gap-4 p-2 bg-white rounded-md shadow hover:from-[#199EE4] hover:to-[#A3D6D0] hover:bg-gradient-to-r"
    >
        <div
            class="relative flex items-center justify-center flex-none mt-1 rounded-full w-7 h-7 gap-x-2"
        >
            <img
                alt=""
                :src="props.image"
                decoding="async"
                data-nimg="future"
                class="rounded-full w-7 h-7"
                loading="lazy"
                style="color: transparent"
                width="32"
                height="32"
            />
        </div>
        <div class="text-sm font-bold">{{ props.location }}</div>
        <div class="text-xs">{{ props.room }}</div>
        <div class="p-1 ml-auto text-xs font-bold rounded-md bg-lightgray">
            <time>{{ props.day }}</time>
            <span aria-hidden="true"> — </span>
            <time>{{ props.partday }}</time>
        </div>
    </div>
</template>
