<script setup>
defineProps(["feature"]);
</script>
<template>
    <div class="w-full p-3 shadow-lg hover:shadow-xl">
        <h4 class="font-semibold text-black">{{ feature.title }}</h4>
        <div class="text-md">{{ feature.content }}</div>
    </div>
</template>
