<template>
<table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th colspan="2" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actual play</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">{{ title }}</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr v-for="item in pagedData" :key="`bestView${item.id}`">
                <td class="px-6 py-4"><a :href="item.url" target="_blank"><img :src="item.imageUrl" v-if="item.imageUrl"></a></td>
                <td class="px-6 py-4"><a :href="item.url" target="_blank">{{ item.title }}</a></td>
                <td class="px-6 py-4">{{ item[unit] }}</td>
              </tr>
            </tbody>
          </table>
</template>

<script setup>
import { computed } from 'vue';

const props = defineProps({
    data: {
        type: Array,
    },
    unit: {
        type: String,
        default: 'views',
    },
    title: {
        type: String,
        default: 'Vues',
    },
});

const pagedData = computed(() => {
  return props.data.splice(0, 10)
});
</script>
