<template>
            <p class="flex flex-wrap gap-1">
                <span v-for="(tag,post) in tagsList" 
                :key="tag.id" 
                v-html="tag.name" 
                class="inline-flex items-center rounded-full px-2 py-1 text-xs font-medium ring-1 ring-inset" 
                :class="[(post > numbertags) ? 'hidden' : '', `bg-${color}-50`, `text-${color}-700`, `ring-${color}-700/10`]"
                />
            </p> 

</template>
<script setup>
const props = defineProps({
    tagsList: Array,
    numbertags: {
        type: Number,
        default: 2
    },
    color: {
        type: String,
        default: 'red'
    }
})

</script>