<script setup>
import { Head} from '@inertiajs/vue3';
import Banner from '@/Components/Graphics/Banner.vue';
import MainNavigation from "@/Components/Sections/MainNavigation.vue";
import SiteFooter from "@/Components/Sections/SiteFooter.vue";

defineProps({
    title: String,
});

</script>

<template>
    <div>
        <Head :title="title" />

        <Banner />

        <div class="min-h-screen bg-gray-100 dark:bg-gray-900">
            <MainNavigation />

            <!-- Page Heading -->
            <header v-if="$slots.header" class="bg-white dark:bg-gray-800 shadow">
                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                    <slot name="header" />
                </div>
            </header>

            <!-- Page Content -->
            <main class="py-4">
                <slot />
            </main>

            <SiteFooter />
        </div>
    </div>
</template>
